ELAY_NODERED_2/TestProtocolos.json
[
    {
        "id": "dbe8e3b6.17735",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e0be1b2a.5c5518",
        "type": "mqtt in",
        "z": "dbe8e3b6.17735",
        "name": "",
        "topic": "alarmasCerradura",
        "qos": "2",
        "broker": "337a72f4.8bf5ce",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "f44a5e7.270eea"
            ]
        ]
    },
    {
        "id": "f44a5e7.270eea",
        "type": "debug",
        "z": "dbe8e3b6.17735",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "763b4608.da3d98",
        "type": "inject",
        "z": "dbe8e3b6.17735",
        "name": "",
        "topic": "",
        "payload": "05:",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 340,
        "wires": [
            [
                "45b4f134.cbc4"
            ]
        ]
    },
    {
        "id": "45b4f134.cbc4",
        "type": "mqtt out",
        "z": "dbe8e3b6.17735",
        "name": "",
        "topic": "entradasCerradura",
        "qos": "",
        "retain": "",
        "broker": "337a72f4.8bf5ce",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "1de29423.4c3f7c",
        "type": "mqtt in",
        "z": "dbe8e3b6.17735",
        "name": "",
        "topic": "entradasCerradura",
        "qos": "2",
        "broker": "337a72f4.8bf5ce",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "f5f4aea7.879f2",
                "a9058f0d.87019"
            ]
        ]
    },
    {
        "id": "f5f4aea7.879f2",
        "type": "serial out",
        "z": "dbe8e3b6.17735",
        "name": "",
        "serial": "ef8da1f2.e1b76",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "a9058f0d.87019",
        "type": "debug",
        "z": "dbe8e3b6.17735",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 460,
        "wires": []
    },
    {
        "id": "a6d60828.0ffd98",
        "type": "inject",
        "z": "dbe8e3b6.17735",
        "name": "",
        "topic": "",
        "payload": "04:",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 300,
        "wires": [
            [
                "45b4f134.cbc4"
            ]
        ]
    },
    {
        "id": "9fb874d9.ce0b18",
        "type": "inject",
        "z": "dbe8e3b6.17735",
        "name": "",
        "topic": "",
        "payload": "03:0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 260,
        "wires": [
            [
                "45b4f134.cbc4"
            ]
        ]
    },
    {
        "id": "73fe28a5.19f9b8",
        "type": "inject",
        "z": "dbe8e3b6.17735",
        "name": "",
        "topic": "",
        "payload": "01:0:1234",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 180,
        "wires": [
            [
                "45b4f134.cbc4"
            ]
        ]
    },
    {
        "id": "280d6771.d3f948",
        "type": "inject",
        "z": "dbe8e3b6.17735",
        "name": "",
        "topic": "",
        "payload": "02:0:4321",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 220,
        "wires": [
            [
                "45b4f134.cbc4"
            ]
        ]
    },
    {
        "id": "337a72f4.8bf5ce",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.56.1",
        "port": "8083",
        "clientid": "Eldegabriel",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "ef8da1f2.e1b76",
        "type": "serial-port",
        "z": "",
        "serialport": "COM9",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    }
]