Entrega 1/ELAY_NodeRed/ELAY_Flujo.json
[
    {
        "id": "a38136ee.73dde8",
        "type": "tab",
        "label": "ELAY_Flujo_Entrega_1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a4deb1e4.ef36",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "1fc867ac.d99678",
        "type": "subflow",
        "name": "Subflow 1 (2)",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "bd7df655.9260e8",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "rediot",
        "name": ""
    },
    {
        "id": "e4af8b1e.269e08",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "530739d1.d6af28",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "f2d0b7d8.477038",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "da3ee238.a2ab3",
        "type": "ui_group",
        "z": "",
        "name": "Estado del Deposito [Home]",
        "tab": "f2d0b7d8.477038",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "21eee409.934d8c",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "f2d0b7d8.477038",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e514d9ec.6bcee8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a02b9f7c.a0eb8",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "bf70524e.c7c1c",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "rediot",
        "name": ""
    },
    {
        "id": "f793c74f.77a5a8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "b4ddef3d.3b78b",
        "type": "ui_group",
        "z": "",
        "name": "Estado del deposito",
        "tab": "f793c74f.77a5a8",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6ec6d313.b2df1c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.56.1",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d4507573.40eec8",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "eb3d7eb1.a4ba",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d39fe791.516f58",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "5d402e82.14418",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "304f5cb0.b7cf94",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "8bbae290.815de",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "64ba7676.08aa58",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "eb54f36a.b3eb3",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "dbb83939.1dfa68",
        "type": "serial-port",
        "z": "",
        "serialport": "COM7",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "fbd1a124.e9123",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "a38a4ef.d9ed5b",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "5e920855.e0e3b8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "51e8133a.1d5a6c",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "d9909479.e973f8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "7f4fbc2e.305cd4",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "c469d53e.c3d7d8",
        "type": "http request",
        "z": "a4deb1e4.ef36",
        "name": "GET temp/sec/find",
        "method": "GET",
        "ret": "obj",
        "url": "/temperature/sec/find",
        "tls": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "a7c67ced.a8d04"
            ]
        ]
    },
    {
        "id": "1db93688.560cb9",
        "type": "http request",
        "z": "a4deb1e4.ef36",
        "name": "Get temp/min/find",
        "method": "GET",
        "ret": "obj",
        "url": "/temperature/min/find",
        "tls": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "9712519f.a6ba4"
            ]
        ]
    },
    {
        "id": "54e88809.2dc9b8",
        "type": "http request",
        "z": "a4deb1e4.ef36",
        "name": "GET Temp/sec/count",
        "method": "GET",
        "ret": "txt",
        "url": "/temperature/sec/count",
        "tls": "",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "433ad71c.5b4548"
            ]
        ]
    },
    {
        "id": "d8711945.e39d68",
        "type": "http request",
        "z": "a4deb1e4.ef36",
        "name": "GET Temp/min/count",
        "method": "GET",
        "ret": "txt",
        "url": "/temperature/min/count",
        "tls": "",
        "x": 202,
        "y": 276,
        "wires": [
            [
                "9537f7f5.465228"
            ]
        ]
    },
    {
        "id": "24f17b45.5d8594",
        "type": "function",
        "z": "a4deb1e4.ef36",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 598,
        "y": 64,
        "wires": [
            [
                "94111f46.504da"
            ]
        ]
    },
    {
        "id": "bfb55515.797428",
        "type": "function",
        "z": "a4deb1e4.ef36",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 586,
        "y": 125,
        "wires": [
            [
                "fbbeca8e.6c1c08"
            ]
        ]
    },
    {
        "id": "94111f46.504da",
        "type": "http response",
        "z": "a4deb1e4.ef36",
        "name": "http find/temp/sec",
        "statusCode": "",
        "headers": {},
        "x": 853.5,
        "y": 54,
        "wires": []
    },
    {
        "id": "fbbeca8e.6c1c08",
        "type": "http response",
        "z": "a4deb1e4.ef36",
        "name": "http find/temp/min",
        "statusCode": "",
        "headers": {},
        "x": 850.5,
        "y": 130,
        "wires": []
    },
    {
        "id": "ac69c583.a707c8",
        "type": "debug",
        "z": "a4deb1e4.ef36",
        "name": "temperature/secs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 408,
        "y": 362,
        "wires": []
    },
    {
        "id": "49720cfb.ff9374",
        "type": "debug",
        "z": "a4deb1e4.ef36",
        "name": "temperature/mins",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 420,
        "y": 641,
        "wires": []
    },
    {
        "id": "2f3228de.71e758",
        "type": "function",
        "z": "a4deb1e4.ef36",
        "name": "Format 4 Secs",
        "func": "var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];",
        "outputs": 1,
        "noerr": 0,
        "x": 423,
        "y": 413,
        "wires": [
            [
                "2935eda1.7f3732",
                "37fad3d0.180e8c",
                "6891bffa.538a6",
                "dfca0c20.5aa25",
                "3cb60323.14471c"
            ]
        ]
    },
    {
        "id": "77596e1e.1bdd2",
        "type": "function",
        "z": "a4deb1e4.ef36",
        "name": "formatForMins",
        "func": "var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 692,
        "wires": [
            [
                "2501f551.049e3a",
                "79a19351.f3486c",
                "626ae2fd.7c729c",
                "b208edce.3b15",
                "a2881764.91cf18"
            ]
        ]
    },
    {
        "id": "1419e05e.e0f9a",
        "type": "function",
        "z": "a4deb1e4.ef36",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 695,
        "y": 206,
        "wires": [
            [
                "c1cb36d1.e30878"
            ]
        ]
    },
    {
        "id": "13ea4ae5.7ae545",
        "type": "function",
        "z": "a4deb1e4.ef36",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 683,
        "y": 267,
        "wires": [
            [
                "bf965c31.b6875"
            ]
        ]
    },
    {
        "id": "c1cb36d1.e30878",
        "type": "http response",
        "z": "a4deb1e4.ef36",
        "name": "HTTP count/temp/sec",
        "statusCode": "",
        "headers": {},
        "x": 960.5,
        "y": 196,
        "wires": []
    },
    {
        "id": "bf965c31.b6875",
        "type": "http response",
        "z": "a4deb1e4.ef36",
        "name": "HTTP count/temp/min",
        "statusCode": "",
        "headers": {},
        "x": 957.5,
        "y": 272,
        "wires": []
    },
    {
        "id": "2935eda1.7f3732",
        "type": "ui_chart",
        "z": "a4deb1e4.ef36",
        "name": "Temperature Sec Chart",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Historico de Temperatura[sec]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sin datos!!!",
        "dot": false,
        "ymin": "0",
        "ymax": "35",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 715,
        "y": 407,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6891bffa.538a6",
        "type": "ui_text",
        "z": "a4deb1e4.ef36",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SenseTime",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 671,
        "y": 450,
        "wires": []
    },
    {
        "id": "37fad3d0.180e8c",
        "type": "debug",
        "z": "a4deb1e4.ef36",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 672,
        "y": 353,
        "wires": []
    },
    {
        "id": "dfca0c20.5aa25",
        "type": "ui_gauge",
        "z": "a4deb1e4.ef36",
        "name": "Instant sec Temperature",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Actual",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 732,
        "y": 508,
        "wires": []
    },
    {
        "id": "3cb60323.14471c",
        "type": "debug",
        "z": "a4deb1e4.ef36",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 664,
        "y": 552,
        "wires": []
    },
    {
        "id": "2b344581.77332a",
        "type": "link in",
        "z": "a4deb1e4.ef36",
        "name": "",
        "links": [],
        "x": 224,
        "y": 393,
        "wires": [
            [
                "ac69c583.a707c8",
                "2f3228de.71e758"
            ]
        ]
    },
    {
        "id": "b208edce.3b15",
        "type": "ui_text",
        "z": "a4deb1e4.ef36",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SenseTimeMin",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 736,
        "y": 757,
        "wires": []
    },
    {
        "id": "2501f551.049e3a",
        "type": "debug",
        "z": "a4deb1e4.ef36",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "a2881764.91cf18",
        "type": "ui_gauge",
        "z": "a4deb1e4.ef36",
        "name": "Instant min Temperature",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Promedio",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 765,
        "y": 810,
        "wires": []
    },
    {
        "id": "79a19351.f3486c",
        "type": "debug",
        "z": "a4deb1e4.ef36",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 719,
        "y": 859,
        "wires": []
    },
    {
        "id": "68df6ae9.fcf3b4",
        "type": "link in",
        "z": "a4deb1e4.ef36",
        "name": "",
        "links": [],
        "x": 240,
        "y": 680,
        "wires": [
            [
                "49720cfb.ff9374",
                "77596e1e.1bdd2"
            ]
        ]
    },
    {
        "id": "9712519f.a6ba4",
        "type": "mongodb in",
        "z": "a4deb1e4.ef36",
        "mongodb": "bd7df655.9260e8",
        "name": "Find Tpmin",
        "collection": "tpmin",
        "operation": "find",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "bfb55515.797428"
            ]
        ]
    },
    {
        "id": "a7c67ced.a8d04",
        "type": "mongodb in",
        "z": "a4deb1e4.ef36",
        "mongodb": "bd7df655.9260e8",
        "name": "Find Tpsec",
        "collection": "temperaturespec",
        "operation": "find",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "24f17b45.5d8594"
            ]
        ]
    },
    {
        "id": "433ad71c.5b4548",
        "type": "mongodb in",
        "z": "a4deb1e4.ef36",
        "mongodb": "bd7df655.9260e8",
        "name": "Count Tpsec",
        "collection": "temperaturespec",
        "operation": "count",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "1419e05e.e0f9a"
            ]
        ]
    },
    {
        "id": "9537f7f5.465228",
        "type": "mongodb in",
        "z": "a4deb1e4.ef36",
        "mongodb": "bd7df655.9260e8",
        "name": "Count Tpmin",
        "collection": "tpmin",
        "operation": "count",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "13ea4ae5.7ae545"
            ]
        ]
    },
    {
        "id": "626ae2fd.7c729c",
        "type": "ui_chart",
        "z": "a4deb1e4.ef36",
        "name": "Temperature min chart",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Historico de Temperatura[min]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sin datos!!!",
        "dot": false,
        "ymin": "0",
        "ymax": "35",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 760,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7795c604.3f71e8",
        "type": "http request",
        "z": "1fc867ac.d99678",
        "name": "GET temp/sec/find",
        "method": "GET",
        "ret": "obj",
        "url": "/temperature/sec/find",
        "tls": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "efba18d5.58d308"
            ]
        ]
    },
    {
        "id": "68170bd9.966f04",
        "type": "http request",
        "z": "1fc867ac.d99678",
        "name": "Get temp/min/find",
        "method": "GET",
        "ret": "obj",
        "url": "/temperature/min/find",
        "tls": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "9c31e13a.daa9"
            ]
        ]
    },
    {
        "id": "42730f94.428ac",
        "type": "http request",
        "z": "1fc867ac.d99678",
        "name": "GET Temp/sec/count",
        "method": "GET",
        "ret": "txt",
        "url": "/temperature/sec/count",
        "tls": "",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "a326d79e.f9af88"
            ]
        ]
    },
    {
        "id": "e1a2d5ee.7e18b8",
        "type": "http request",
        "z": "1fc867ac.d99678",
        "name": "GET Temp/min/count",
        "method": "GET",
        "ret": "txt",
        "url": "/temperature/min/count",
        "tls": "",
        "x": 202,
        "y": 276,
        "wires": [
            [
                "1751db3a.281065"
            ]
        ]
    },
    {
        "id": "95ebd35.e311e3",
        "type": "function",
        "z": "1fc867ac.d99678",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 598,
        "y": 64,
        "wires": [
            [
                "974e48d4.ebb8f8"
            ]
        ]
    },
    {
        "id": "57676666.63ee68",
        "type": "function",
        "z": "1fc867ac.d99678",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 586,
        "y": 125,
        "wires": [
            [
                "f2a034a3.ead3b8"
            ]
        ]
    },
    {
        "id": "974e48d4.ebb8f8",
        "type": "http response",
        "z": "1fc867ac.d99678",
        "name": "http find/temp/sec",
        "statusCode": "",
        "headers": {},
        "x": 853.5,
        "y": 54,
        "wires": []
    },
    {
        "id": "f2a034a3.ead3b8",
        "type": "http response",
        "z": "1fc867ac.d99678",
        "name": "http find/temp/min",
        "statusCode": "",
        "headers": {},
        "x": 850.5,
        "y": 130,
        "wires": []
    },
    {
        "id": "7ab783c0.85576c",
        "type": "debug",
        "z": "1fc867ac.d99678",
        "name": "temperature/secs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 408,
        "y": 362,
        "wires": []
    },
    {
        "id": "96b5100.f869ff",
        "type": "debug",
        "z": "1fc867ac.d99678",
        "name": "temperature/mins",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 420,
        "y": 641,
        "wires": []
    },
    {
        "id": "89bbc62e.f33998",
        "type": "function",
        "z": "1fc867ac.d99678",
        "name": "Format 4 Secs",
        "func": "var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];",
        "outputs": 1,
        "noerr": 0,
        "x": 423,
        "y": 413,
        "wires": [
            [
                "cae64a4c.5d1458",
                "73b36a57.090194",
                "cbc62445.22a598",
                "690e59c.d55b0a8",
                "a58973e4.cb013"
            ]
        ]
    },
    {
        "id": "7824c425.c8968c",
        "type": "function",
        "z": "1fc867ac.d99678",
        "name": "formatForMins",
        "func": "var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 692,
        "wires": [
            [
                "57b8daef.f5aa94",
                "bc46e207.bcbce",
                "79ef7818.1ff0d8",
                "dbafb0d1.fce7f",
                "1760bdc2.486502"
            ]
        ]
    },
    {
        "id": "4f502b37.266544",
        "type": "function",
        "z": "1fc867ac.d99678",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 695,
        "y": 206,
        "wires": [
            [
                "c74bfbfc.1a7838"
            ]
        ]
    },
    {
        "id": "17a99775.a048f9",
        "type": "function",
        "z": "1fc867ac.d99678",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 683,
        "y": 267,
        "wires": [
            [
                "695cbf74.e7474"
            ]
        ]
    },
    {
        "id": "c74bfbfc.1a7838",
        "type": "http response",
        "z": "1fc867ac.d99678",
        "name": "HTTP count/temp/sec",
        "statusCode": "",
        "headers": {},
        "x": 960.5,
        "y": 196,
        "wires": []
    },
    {
        "id": "695cbf74.e7474",
        "type": "http response",
        "z": "1fc867ac.d99678",
        "name": "HTTP count/temp/min",
        "statusCode": "",
        "headers": {},
        "x": 957.5,
        "y": 272,
        "wires": []
    },
    {
        "id": "cae64a4c.5d1458",
        "type": "ui_chart",
        "z": "1fc867ac.d99678",
        "name": "Temperature Sec Chart",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Historico de Temperatura[sec]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sin datos!!!",
        "dot": false,
        "ymin": "0",
        "ymax": "35",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 715,
        "y": 407,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cbc62445.22a598",
        "type": "ui_text",
        "z": "1fc867ac.d99678",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SenseTime",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 671,
        "y": 450,
        "wires": []
    },
    {
        "id": "73b36a57.090194",
        "type": "debug",
        "z": "1fc867ac.d99678",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 672,
        "y": 353,
        "wires": []
    },
    {
        "id": "690e59c.d55b0a8",
        "type": "ui_gauge",
        "z": "1fc867ac.d99678",
        "name": "Instant sec Temperature",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Actual",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 732,
        "y": 508,
        "wires": []
    },
    {
        "id": "a58973e4.cb013",
        "type": "debug",
        "z": "1fc867ac.d99678",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 664,
        "y": 552,
        "wires": []
    },
    {
        "id": "bbcc124.00dedf",
        "type": "link in",
        "z": "1fc867ac.d99678",
        "name": "",
        "links": [],
        "x": 224,
        "y": 393,
        "wires": [
            [
                "7ab783c0.85576c",
                "89bbc62e.f33998"
            ]
        ]
    },
    {
        "id": "dbafb0d1.fce7f",
        "type": "ui_text",
        "z": "1fc867ac.d99678",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SenseTimeMin",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 736,
        "y": 757,
        "wires": []
    },
    {
        "id": "57b8daef.f5aa94",
        "type": "debug",
        "z": "1fc867ac.d99678",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "1760bdc2.486502",
        "type": "ui_gauge",
        "z": "1fc867ac.d99678",
        "name": "Instant min Temperature",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Promedio",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 765,
        "y": 810,
        "wires": []
    },
    {
        "id": "bc46e207.bcbce",
        "type": "debug",
        "z": "1fc867ac.d99678",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 719,
        "y": 859,
        "wires": []
    },
    {
        "id": "fbc03857.ad7778",
        "type": "link in",
        "z": "1fc867ac.d99678",
        "name": "",
        "links": [],
        "x": 240,
        "y": 680,
        "wires": [
            [
                "96b5100.f869ff",
                "7824c425.c8968c"
            ]
        ]
    },
    {
        "id": "9c31e13a.daa9",
        "type": "mongodb in",
        "z": "1fc867ac.d99678",
        "mongodb": "bd7df655.9260e8",
        "name": "Find Tpmin",
        "collection": "tpmin",
        "operation": "find",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "57676666.63ee68"
            ]
        ]
    },
    {
        "id": "efba18d5.58d308",
        "type": "mongodb in",
        "z": "1fc867ac.d99678",
        "mongodb": "bd7df655.9260e8",
        "name": "Find Tpsec",
        "collection": "temperaturespec",
        "operation": "find",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "95ebd35.e311e3"
            ]
        ]
    },
    {
        "id": "a326d79e.f9af88",
        "type": "mongodb in",
        "z": "1fc867ac.d99678",
        "mongodb": "bd7df655.9260e8",
        "name": "Count Tpsec",
        "collection": "temperaturespec",
        "operation": "count",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "4f502b37.266544"
            ]
        ]
    },
    {
        "id": "1751db3a.281065",
        "type": "mongodb in",
        "z": "1fc867ac.d99678",
        "mongodb": "bd7df655.9260e8",
        "name": "Count Tpmin",
        "collection": "tpmin",
        "operation": "count",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "17a99775.a048f9"
            ]
        ]
    },
    {
        "id": "79ef7818.1ff0d8",
        "type": "ui_chart",
        "z": "1fc867ac.d99678",
        "name": "Temperature min chart",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Historico de Temperatura[min]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sin datos!!!",
        "dot": false,
        "ymin": "0",
        "ymax": "35",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 760,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4c1a5837.1a92c8",
        "type": "inject",
        "z": "a38136ee.73dde8",
        "name": "Sensor time",
        "topic": "time",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "5748e2bb.9c7acc"
            ]
        ]
    },
    {
        "id": "5748e2bb.9c7acc",
        "type": "function",
        "z": "a38136ee.73dde8",
        "name": "Timestamp",
        "func": "var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "6bfdd2c6.719adc"
            ]
        ]
    },
    {
        "id": "6bfdd2c6.719adc",
        "type": "function",
        "z": "a38136ee.73dde8",
        "name": "Mezcla de los mensaje",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"time\":\n        context.data.timestamp = msg.payload;\n        msg = null;\n        break;\n    case \"infoArduino\":\n        context.data.info = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.timestamp != null && context.data.info != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"InfoAlert\";\n    context.data = null;\n\treturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 240,
        "wires": [
            [
                "802f4761.23ca78"
            ]
        ]
    },
    {
        "id": "802f4761.23ca78",
        "type": "json",
        "z": "a38136ee.73dde8",
        "name": "Formato JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 940,
        "y": 240,
        "wires": [
            [
                "7ff66104.b2fa1"
            ]
        ]
    },
    {
        "id": "56ae8384.21d0ec",
        "type": "mqtt out",
        "z": "a38136ee.73dde8",
        "name": "Cola Propietario",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "6ec6d313.b2df1c",
        "x": 2180,
        "y": 100,
        "wires": []
    },
    {
        "id": "21745110.dabd1e",
        "type": "function",
        "z": "a38136ee.73dde8",
        "name": "Análisis alarma y generación mensaje",
        "func": "var msgg = \"\";\nvar ret = {};\nvar input = [];\n\ntemp = msg.payload;\ninput = temp.split(\":\");\n// A:idAlarma:idDispositivo:torre:apto\nif(input[0] == \"A\") {\n    switch (input[1]) \n    {\n        case \"1\":\n            msgg = \"La puerta lleva abierta un largo periodo de tiempo.\";\n            break;\n        case \"2\":\n            msgg = \"Intento de apertura sospechoso. Alguien ha ingresado la clave más de 3 veces de forma errónea\";\n            break;\n        case \"3\":\n            msgg = \"Se detectó la presencia de una persona cerca de la cerradura, en un horario no permitido.\";\n            break;\n        case \"4\":\n            msgg = \"Ingreso sospechoso. Alguien entró al inmueble en un horario no permitido.\";\n            break;\n        case \"5\":\n            msgg = \"Nivel de batería crítico. Recargue la cerradura.\";\n            break;\n        default:\n            input[1] = 0;\n            msgg = \"El error no puede ser identificado\";\n        \tbreak;\n    }\n\n    ret.topic = \"infoArduino\";\n    ret.payload = {\n        \"alertaId\":input[1],\n        \"mensajeAlerta\":msgg,\n        \"idDispositivo\":input[2],\n        \"torre\":input[3],\n        \"apto\":input[4]\n    };\n    return ret;\n}    ",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "6bfdd2c6.719adc"
            ]
        ]
    },
    {
        "id": "7ff66104.b2fa1",
        "type": "function",
        "z": "a38136ee.73dde8",
        "name": "Asignación de usuarios para tópicos",
        "func": "var usser = [0,0,0,0];\n// 0 -> propietario\n// 1 -> seguridad\n// 2 -> administrador\n// 3 -> yale\nif(msg.payload.info.alertaId == 0) {\n    usser[3] = 1;\n}\nif(msg.payload.info.alertaId == 1) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 2) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 3) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 4) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 5) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nmsg.payload.usser = usser;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1210,
        "y": 240,
        "wires": [
            [
                "4cc8c612.da3d98"
            ]
        ]
    },
    {
        "id": "4cc8c612.da3d98",
        "type": "function",
        "z": "a38136ee.73dde8",
        "name": "Distribución de alarmas para publicar",
        "func": "var ret=[undefined, undefined, undefined, undefined]\n\nfor(var i = 0;  i < 4; i++) {\n    if(msg.payload.usser[i] == 1) {\n        ret[i] = {\n            payload:msg.payload\n        };\n    }    \n}\n\nreturn ret;",
        "outputs": 4,
        "noerr": 0,
        "x": 1550,
        "y": 240,
        "wires": [
            [
                "e7a0a6c9.f67268",
                "3abdf2b7.77ae8e"
            ],
            [
                "e3043448.2a6048",
                "56e4d1b8.ba595"
            ],
            [
                "ec8d9a0c.935fd8",
                "b94d1f3.13113e"
            ],
            [
                "e20d658d.1fb578",
                "fd370fec.10904"
            ]
        ]
    },
    {
        "id": "e7a0a6c9.f67268",
        "type": "debug",
        "z": "a38136ee.73dde8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1890,
        "y": 60,
        "wires": []
    },
    {
        "id": "e20d658d.1fb578",
        "type": "debug",
        "z": "a38136ee.73dde8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1890,
        "y": 360,
        "wires": []
    },
    {
        "id": "ec8d9a0c.935fd8",
        "type": "debug",
        "z": "a38136ee.73dde8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1890,
        "y": 260,
        "wires": []
    },
    {
        "id": "e3043448.2a6048",
        "type": "debug",
        "z": "a38136ee.73dde8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1890,
        "y": 160,
        "wires": []
    },
    {
        "id": "129937be.d67be8",
        "type": "mqtt out",
        "z": "a38136ee.73dde8",
        "name": "Cola Seguridad",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "6ec6d313.b2df1c",
        "x": 2180,
        "y": 200,
        "wires": []
    },
    {
        "id": "d20eb98e.4912c8",
        "type": "mqtt out",
        "z": "a38136ee.73dde8",
        "name": "Cola Administrador",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "6ec6d313.b2df1c",
        "x": 2190,
        "y": 300,
        "wires": []
    },
    {
        "id": "49cc305f.98854",
        "type": "mqtt out",
        "z": "a38136ee.73dde8",
        "name": "Cola Yale",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "6ec6d313.b2df1c",
        "x": 2160,
        "y": 400,
        "wires": []
    },
    {
        "id": "3abdf2b7.77ae8e",
        "type": "function",
        "z": "a38136ee.73dde8",
        "name": "Topic Propietario",
        "func": "var rol = \"propietario\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1910,
        "y": 100,
        "wires": [
            [
                "56ae8384.21d0ec",
                "c1d9ea91.856e38"
            ]
        ]
    },
    {
        "id": "ac2cbd87.4c617",
        "type": "debug",
        "z": "a38136ee.73dde8",
        "name": "Mensaje topic \"seguridad\"",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2210,
        "y": 160,
        "wires": []
    },
    {
        "id": "56e4d1b8.ba595",
        "type": "function",
        "z": "a38136ee.73dde8",
        "name": "Topic Seguridad",
        "func": "var rol = \"seguridad\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1900,
        "y": 200,
        "wires": [
            [
                "ac2cbd87.4c617",
                "129937be.d67be8"
            ]
        ]
    },
    {
        "id": "4a8658c7.8832d8",
        "type": "debug",
        "z": "a38136ee.73dde8",
        "name": "Mensaje topic \"administrador\"",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2230,
        "y": 260,
        "wires": []
    },
    {
        "id": "b94d1f3.13113e",
        "type": "function",
        "z": "a38136ee.73dde8",
        "name": "Topic Administrador",
        "func": "var rol = \"adminisnitrador\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1920,
        "y": 300,
        "wires": [
            [
                "4a8658c7.8832d8",
                "d20eb98e.4912c8"
            ]
        ]
    },
    {
        "id": "2b92194b.aeb9b6",
        "type": "debug",
        "z": "a38136ee.73dde8",
        "name": "Mensaje cola \"yale\"",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2190,
        "y": 360,
        "wires": []
    },
    {
        "id": "fd370fec.10904",
        "type": "function",
        "z": "a38136ee.73dde8",
        "name": "Topic Yale",
        "func": "var rol = \"yale\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1890,
        "y": 400,
        "wires": [
            [
                "2b92194b.aeb9b6",
                "49cc305f.98854"
            ]
        ]
    },
    {
        "id": "f6e9efce.f0eaf",
        "type": "mqtt in",
        "z": "a38136ee.73dde8",
        "name": "",
        "topic": "alarmasCerradura",
        "qos": "2",
        "broker": "6ec6d313.b2df1c",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "21745110.dabd1e"
            ]
        ]
    },
    {
        "id": "c1d9ea91.856e38",
        "type": "debug",
        "z": "a38136ee.73dde8",
        "name": "Mensaje topic \"propietario\"",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2220,
        "y": 40,
        "wires": []
    }
]