Entrega 1/ELAY_NodeRed/ELAY_Flujo.json
[
    {
        "id": "eb742b27.be1ae8",
        "type": "tab",
        "label": "ELAY_Flujo_Entrega_1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a4deb1e4.ef36",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "1fc867ac.d99678",
        "type": "subflow",
        "name": "Subflow 1 (2)",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "5ccdc2cc.127ffc",
        "type": "subflow",
        "name": "Subflow 1 (3)",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "c3767ad4.95e768",
        "type": "subflow",
        "name": "Subflow 1 (2) (2)",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "bd7df655.9260e8",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "rediot",
        "name": ""
    },
    {
        "id": "e4af8b1e.269e08",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "530739d1.d6af28",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "f2d0b7d8.477038",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "da3ee238.a2ab3",
        "type": "ui_group",
        "z": "",
        "name": "Estado del Deposito [Home]",
        "tab": "f2d0b7d8.477038",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "21eee409.934d8c",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "f2d0b7d8.477038",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e514d9ec.6bcee8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a02b9f7c.a0eb8",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "bf70524e.c7c1c",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "rediot",
        "name": ""
    },
    {
        "id": "f793c74f.77a5a8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "b4ddef3d.3b78b",
        "type": "ui_group",
        "z": "",
        "name": "Estado del deposito",
        "tab": "f793c74f.77a5a8",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6ec6d313.b2df1c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.56.1",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d4507573.40eec8",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "eb3d7eb1.a4ba",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d39fe791.516f58",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "5d402e82.14418",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "304f5cb0.b7cf94",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "8bbae290.815de",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "64ba7676.08aa58",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "eb54f36a.b3eb3",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "dbb83939.1dfa68",
        "type": "serial-port",
        "z": "",
        "serialport": "COM7",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "fbd1a124.e9123",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "a38a4ef.d9ed5b",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "5e920855.e0e3b8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "51e8133a.1d5a6c",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "d9909479.e973f8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "7f4fbc2e.305cd4",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "c469d53e.c3d7d8",
        "type": "http request",
        "z": "a4deb1e4.ef36",
        "name": "GET temp/sec/find",
        "method": "GET",
        "ret": "obj",
        "url": "/temperature/sec/find",
        "tls": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "a7c67ced.a8d04"
            ]
        ]
    },
    {
        "id": "1db93688.560cb9",
        "type": "http request",
        "z": "a4deb1e4.ef36",
        "name": "Get temp/min/find",
        "method": "GET",
        "ret": "obj",
        "url": "/temperature/min/find",
        "tls": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "9712519f.a6ba4"
            ]
        ]
    },
    {
        "id": "54e88809.2dc9b8",
        "type": "http request",
        "z": "a4deb1e4.ef36",
        "name": "GET Temp/sec/count",
        "method": "GET",
        "ret": "txt",
        "url": "/temperature/sec/count",
        "tls": "",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "433ad71c.5b4548"
            ]
        ]
    },
    {
        "id": "d8711945.e39d68",
        "type": "http request",
        "z": "a4deb1e4.ef36",
        "name": "GET Temp/min/count",
        "method": "GET",
        "ret": "txt",
        "url": "/temperature/min/count",
        "tls": "",
        "x": 202,
        "y": 276,
        "wires": [
            [
                "9537f7f5.465228"
            ]
        ]
    },
    {
        "id": "24f17b45.5d8594",
        "type": "function",
        "z": "a4deb1e4.ef36",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 598,
        "y": 64,
        "wires": [
            [
                "94111f46.504da"
            ]
        ]
    },
    {
        "id": "bfb55515.797428",
        "type": "function",
        "z": "a4deb1e4.ef36",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 586,
        "y": 125,
        "wires": [
            [
                "fbbeca8e.6c1c08"
            ]
        ]
    },
    {
        "id": "94111f46.504da",
        "type": "http response",
        "z": "a4deb1e4.ef36",
        "name": "http find/temp/sec",
        "statusCode": "",
        "headers": {},
        "x": 853.5,
        "y": 54,
        "wires": []
    },
    {
        "id": "fbbeca8e.6c1c08",
        "type": "http response",
        "z": "a4deb1e4.ef36",
        "name": "http find/temp/min",
        "statusCode": "",
        "headers": {},
        "x": 850.5,
        "y": 130,
        "wires": []
    },
    {
        "id": "ac69c583.a707c8",
        "type": "debug",
        "z": "a4deb1e4.ef36",
        "name": "temperature/secs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 408,
        "y": 362,
        "wires": []
    },
    {
        "id": "49720cfb.ff9374",
        "type": "debug",
        "z": "a4deb1e4.ef36",
        "name": "temperature/mins",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 420,
        "y": 641,
        "wires": []
    },
    {
        "id": "2f3228de.71e758",
        "type": "function",
        "z": "a4deb1e4.ef36",
        "name": "Format 4 Secs",
        "func": "var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];",
        "outputs": 1,
        "noerr": 0,
        "x": 423,
        "y": 413,
        "wires": [
            [
                "2935eda1.7f3732",
                "37fad3d0.180e8c",
                "6891bffa.538a6",
                "dfca0c20.5aa25",
                "3cb60323.14471c"
            ]
        ]
    },
    {
        "id": "77596e1e.1bdd2",
        "type": "function",
        "z": "a4deb1e4.ef36",
        "name": "formatForMins",
        "func": "var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 692,
        "wires": [
            [
                "2501f551.049e3a",
                "79a19351.f3486c",
                "626ae2fd.7c729c",
                "b208edce.3b15",
                "a2881764.91cf18"
            ]
        ]
    },
    {
        "id": "1419e05e.e0f9a",
        "type": "function",
        "z": "a4deb1e4.ef36",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 695,
        "y": 206,
        "wires": [
            [
                "c1cb36d1.e30878"
            ]
        ]
    },
    {
        "id": "13ea4ae5.7ae545",
        "type": "function",
        "z": "a4deb1e4.ef36",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 683,
        "y": 267,
        "wires": [
            [
                "bf965c31.b6875"
            ]
        ]
    },
    {
        "id": "c1cb36d1.e30878",
        "type": "http response",
        "z": "a4deb1e4.ef36",
        "name": "HTTP count/temp/sec",
        "statusCode": "",
        "headers": {},
        "x": 960.5,
        "y": 196,
        "wires": []
    },
    {
        "id": "bf965c31.b6875",
        "type": "http response",
        "z": "a4deb1e4.ef36",
        "name": "HTTP count/temp/min",
        "statusCode": "",
        "headers": {},
        "x": 957.5,
        "y": 272,
        "wires": []
    },
    {
        "id": "2935eda1.7f3732",
        "type": "ui_chart",
        "z": "a4deb1e4.ef36",
        "name": "Temperature Sec Chart",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Historico de Temperatura[sec]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sin datos!!!",
        "dot": false,
        "ymin": "0",
        "ymax": "35",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 715,
        "y": 407,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6891bffa.538a6",
        "type": "ui_text",
        "z": "a4deb1e4.ef36",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SenseTime",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 671,
        "y": 450,
        "wires": []
    },
    {
        "id": "37fad3d0.180e8c",
        "type": "debug",
        "z": "a4deb1e4.ef36",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 672,
        "y": 353,
        "wires": []
    },
    {
        "id": "dfca0c20.5aa25",
        "type": "ui_gauge",
        "z": "a4deb1e4.ef36",
        "name": "Instant sec Temperature",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Actual",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 732,
        "y": 508,
        "wires": []
    },
    {
        "id": "3cb60323.14471c",
        "type": "debug",
        "z": "a4deb1e4.ef36",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 664,
        "y": 552,
        "wires": []
    },
    {
        "id": "2b344581.77332a",
        "type": "link in",
        "z": "a4deb1e4.ef36",
        "name": "",
        "links": [],
        "x": 224,
        "y": 393,
        "wires": [
            [
                "ac69c583.a707c8",
                "2f3228de.71e758"
            ]
        ]
    },
    {
        "id": "b208edce.3b15",
        "type": "ui_text",
        "z": "a4deb1e4.ef36",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SenseTimeMin",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 736,
        "y": 757,
        "wires": []
    },
    {
        "id": "2501f551.049e3a",
        "type": "debug",
        "z": "a4deb1e4.ef36",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "a2881764.91cf18",
        "type": "ui_gauge",
        "z": "a4deb1e4.ef36",
        "name": "Instant min Temperature",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Promedio",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 765,
        "y": 810,
        "wires": []
    },
    {
        "id": "79a19351.f3486c",
        "type": "debug",
        "z": "a4deb1e4.ef36",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 719,
        "y": 859,
        "wires": []
    },
    {
        "id": "68df6ae9.fcf3b4",
        "type": "link in",
        "z": "a4deb1e4.ef36",
        "name": "",
        "links": [],
        "x": 240,
        "y": 680,
        "wires": [
            [
                "49720cfb.ff9374",
                "77596e1e.1bdd2"
            ]
        ]
    },
    {
        "id": "9712519f.a6ba4",
        "type": "mongodb in",
        "z": "a4deb1e4.ef36",
        "mongodb": "bd7df655.9260e8",
        "name": "Find Tpmin",
        "collection": "tpmin",
        "operation": "find",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "bfb55515.797428"
            ]
        ]
    },
    {
        "id": "a7c67ced.a8d04",
        "type": "mongodb in",
        "z": "a4deb1e4.ef36",
        "mongodb": "bd7df655.9260e8",
        "name": "Find Tpsec",
        "collection": "temperaturespec",
        "operation": "find",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "24f17b45.5d8594"
            ]
        ]
    },
    {
        "id": "433ad71c.5b4548",
        "type": "mongodb in",
        "z": "a4deb1e4.ef36",
        "mongodb": "bd7df655.9260e8",
        "name": "Count Tpsec",
        "collection": "temperaturespec",
        "operation": "count",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "1419e05e.e0f9a"
            ]
        ]
    },
    {
        "id": "9537f7f5.465228",
        "type": "mongodb in",
        "z": "a4deb1e4.ef36",
        "mongodb": "bd7df655.9260e8",
        "name": "Count Tpmin",
        "collection": "tpmin",
        "operation": "count",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "13ea4ae5.7ae545"
            ]
        ]
    },
    {
        "id": "626ae2fd.7c729c",
        "type": "ui_chart",
        "z": "a4deb1e4.ef36",
        "name": "Temperature min chart",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Historico de Temperatura[min]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sin datos!!!",
        "dot": false,
        "ymin": "0",
        "ymax": "35",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 760,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7795c604.3f71e8",
        "type": "http request",
        "z": "1fc867ac.d99678",
        "name": "GET temp/sec/find",
        "method": "GET",
        "ret": "obj",
        "url": "/temperature/sec/find",
        "tls": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "efba18d5.58d308"
            ]
        ]
    },
    {
        "id": "68170bd9.966f04",
        "type": "http request",
        "z": "1fc867ac.d99678",
        "name": "Get temp/min/find",
        "method": "GET",
        "ret": "obj",
        "url": "/temperature/min/find",
        "tls": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "9c31e13a.daa9"
            ]
        ]
    },
    {
        "id": "42730f94.428ac",
        "type": "http request",
        "z": "1fc867ac.d99678",
        "name": "GET Temp/sec/count",
        "method": "GET",
        "ret": "txt",
        "url": "/temperature/sec/count",
        "tls": "",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "a326d79e.f9af88"
            ]
        ]
    },
    {
        "id": "e1a2d5ee.7e18b8",
        "type": "http request",
        "z": "1fc867ac.d99678",
        "name": "GET Temp/min/count",
        "method": "GET",
        "ret": "txt",
        "url": "/temperature/min/count",
        "tls": "",
        "x": 202,
        "y": 276,
        "wires": [
            [
                "1751db3a.281065"
            ]
        ]
    },
    {
        "id": "95ebd35.e311e3",
        "type": "function",
        "z": "1fc867ac.d99678",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 598,
        "y": 64,
        "wires": [
            [
                "974e48d4.ebb8f8"
            ]
        ]
    },
    {
        "id": "57676666.63ee68",
        "type": "function",
        "z": "1fc867ac.d99678",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 586,
        "y": 125,
        "wires": [
            [
                "f2a034a3.ead3b8"
            ]
        ]
    },
    {
        "id": "974e48d4.ebb8f8",
        "type": "http response",
        "z": "1fc867ac.d99678",
        "name": "http find/temp/sec",
        "statusCode": "",
        "headers": {},
        "x": 853.5,
        "y": 54,
        "wires": []
    },
    {
        "id": "f2a034a3.ead3b8",
        "type": "http response",
        "z": "1fc867ac.d99678",
        "name": "http find/temp/min",
        "statusCode": "",
        "headers": {},
        "x": 850.5,
        "y": 130,
        "wires": []
    },
    {
        "id": "7ab783c0.85576c",
        "type": "debug",
        "z": "1fc867ac.d99678",
        "name": "temperature/secs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 408,
        "y": 362,
        "wires": []
    },
    {
        "id": "96b5100.f869ff",
        "type": "debug",
        "z": "1fc867ac.d99678",
        "name": "temperature/mins",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 420,
        "y": 641,
        "wires": []
    },
    {
        "id": "89bbc62e.f33998",
        "type": "function",
        "z": "1fc867ac.d99678",
        "name": "Format 4 Secs",
        "func": "var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];",
        "outputs": 1,
        "noerr": 0,
        "x": 423,
        "y": 413,
        "wires": [
            [
                "cae64a4c.5d1458",
                "73b36a57.090194",
                "cbc62445.22a598",
                "690e59c.d55b0a8",
                "a58973e4.cb013"
            ]
        ]
    },
    {
        "id": "7824c425.c8968c",
        "type": "function",
        "z": "1fc867ac.d99678",
        "name": "formatForMins",
        "func": "var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 692,
        "wires": [
            [
                "57b8daef.f5aa94",
                "bc46e207.bcbce",
                "79ef7818.1ff0d8",
                "dbafb0d1.fce7f",
                "1760bdc2.486502"
            ]
        ]
    },
    {
        "id": "4f502b37.266544",
        "type": "function",
        "z": "1fc867ac.d99678",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 695,
        "y": 206,
        "wires": [
            [
                "c74bfbfc.1a7838"
            ]
        ]
    },
    {
        "id": "17a99775.a048f9",
        "type": "function",
        "z": "1fc867ac.d99678",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 683,
        "y": 267,
        "wires": [
            [
                "695cbf74.e7474"
            ]
        ]
    },
    {
        "id": "c74bfbfc.1a7838",
        "type": "http response",
        "z": "1fc867ac.d99678",
        "name": "HTTP count/temp/sec",
        "statusCode": "",
        "headers": {},
        "x": 960.5,
        "y": 196,
        "wires": []
    },
    {
        "id": "695cbf74.e7474",
        "type": "http response",
        "z": "1fc867ac.d99678",
        "name": "HTTP count/temp/min",
        "statusCode": "",
        "headers": {},
        "x": 957.5,
        "y": 272,
        "wires": []
    },
    {
        "id": "cae64a4c.5d1458",
        "type": "ui_chart",
        "z": "1fc867ac.d99678",
        "name": "Temperature Sec Chart",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Historico de Temperatura[sec]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sin datos!!!",
        "dot": false,
        "ymin": "0",
        "ymax": "35",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 715,
        "y": 407,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cbc62445.22a598",
        "type": "ui_text",
        "z": "1fc867ac.d99678",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SenseTime",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 671,
        "y": 450,
        "wires": []
    },
    {
        "id": "73b36a57.090194",
        "type": "debug",
        "z": "1fc867ac.d99678",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 672,
        "y": 353,
        "wires": []
    },
    {
        "id": "690e59c.d55b0a8",
        "type": "ui_gauge",
        "z": "1fc867ac.d99678",
        "name": "Instant sec Temperature",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Actual",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 732,
        "y": 508,
        "wires": []
    },
    {
        "id": "a58973e4.cb013",
        "type": "debug",
        "z": "1fc867ac.d99678",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 664,
        "y": 552,
        "wires": []
    },
    {
        "id": "bbcc124.00dedf",
        "type": "link in",
        "z": "1fc867ac.d99678",
        "name": "",
        "links": [],
        "x": 224,
        "y": 393,
        "wires": [
            [
                "7ab783c0.85576c",
                "89bbc62e.f33998"
            ]
        ]
    },
    {
        "id": "dbafb0d1.fce7f",
        "type": "ui_text",
        "z": "1fc867ac.d99678",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SenseTimeMin",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 736,
        "y": 757,
        "wires": []
    },
    {
        "id": "57b8daef.f5aa94",
        "type": "debug",
        "z": "1fc867ac.d99678",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "1760bdc2.486502",
        "type": "ui_gauge",
        "z": "1fc867ac.d99678",
        "name": "Instant min Temperature",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Promedio",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 765,
        "y": 810,
        "wires": []
    },
    {
        "id": "bc46e207.bcbce",
        "type": "debug",
        "z": "1fc867ac.d99678",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 719,
        "y": 859,
        "wires": []
    },
    {
        "id": "fbc03857.ad7778",
        "type": "link in",
        "z": "1fc867ac.d99678",
        "name": "",
        "links": [],
        "x": 240,
        "y": 680,
        "wires": [
            [
                "96b5100.f869ff",
                "7824c425.c8968c"
            ]
        ]
    },
    {
        "id": "9c31e13a.daa9",
        "type": "mongodb in",
        "z": "1fc867ac.d99678",
        "mongodb": "bd7df655.9260e8",
        "name": "Find Tpmin",
        "collection": "tpmin",
        "operation": "find",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "57676666.63ee68"
            ]
        ]
    },
    {
        "id": "efba18d5.58d308",
        "type": "mongodb in",
        "z": "1fc867ac.d99678",
        "mongodb": "bd7df655.9260e8",
        "name": "Find Tpsec",
        "collection": "temperaturespec",
        "operation": "find",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "95ebd35.e311e3"
            ]
        ]
    },
    {
        "id": "a326d79e.f9af88",
        "type": "mongodb in",
        "z": "1fc867ac.d99678",
        "mongodb": "bd7df655.9260e8",
        "name": "Count Tpsec",
        "collection": "temperaturespec",
        "operation": "count",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "4f502b37.266544"
            ]
        ]
    },
    {
        "id": "1751db3a.281065",
        "type": "mongodb in",
        "z": "1fc867ac.d99678",
        "mongodb": "bd7df655.9260e8",
        "name": "Count Tpmin",
        "collection": "tpmin",
        "operation": "count",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "17a99775.a048f9"
            ]
        ]
    },
    {
        "id": "79ef7818.1ff0d8",
        "type": "ui_chart",
        "z": "1fc867ac.d99678",
        "name": "Temperature min chart",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Historico de Temperatura[min]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sin datos!!!",
        "dot": false,
        "ymin": "0",
        "ymax": "35",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 760,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b01f838a.074d",
        "type": "http request",
        "z": "5ccdc2cc.127ffc",
        "name": "GET temp/sec/find",
        "method": "GET",
        "ret": "obj",
        "url": "/temperature/sec/find",
        "tls": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "9233f879.692a28"
            ]
        ]
    },
    {
        "id": "c97c2a43.d8c308",
        "type": "http request",
        "z": "5ccdc2cc.127ffc",
        "name": "Get temp/min/find",
        "method": "GET",
        "ret": "obj",
        "url": "/temperature/min/find",
        "tls": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "d462dbcd.f32338"
            ]
        ]
    },
    {
        "id": "41d7c48f.0f56ec",
        "type": "http request",
        "z": "5ccdc2cc.127ffc",
        "name": "GET Temp/sec/count",
        "method": "GET",
        "ret": "txt",
        "url": "/temperature/sec/count",
        "tls": "",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "43c78939.ef6108"
            ]
        ]
    },
    {
        "id": "b8357a72.cbf468",
        "type": "http request",
        "z": "5ccdc2cc.127ffc",
        "name": "GET Temp/min/count",
        "method": "GET",
        "ret": "txt",
        "url": "/temperature/min/count",
        "tls": "",
        "x": 202,
        "y": 276,
        "wires": [
            [
                "3bf31ef3.8396b2"
            ]
        ]
    },
    {
        "id": "19a2afbc.87c4f",
        "type": "function",
        "z": "5ccdc2cc.127ffc",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 598,
        "y": 64,
        "wires": [
            [
                "6c102b8b.97a2f4"
            ]
        ]
    },
    {
        "id": "4923d218.1192ec",
        "type": "function",
        "z": "5ccdc2cc.127ffc",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 586,
        "y": 125,
        "wires": [
            [
                "3d0645d0.72846a"
            ]
        ]
    },
    {
        "id": "6c102b8b.97a2f4",
        "type": "http response",
        "z": "5ccdc2cc.127ffc",
        "name": "http find/temp/sec",
        "statusCode": "",
        "headers": {},
        "x": 853.5,
        "y": 54,
        "wires": []
    },
    {
        "id": "3d0645d0.72846a",
        "type": "http response",
        "z": "5ccdc2cc.127ffc",
        "name": "http find/temp/min",
        "statusCode": "",
        "headers": {},
        "x": 850.5,
        "y": 130,
        "wires": []
    },
    {
        "id": "f5b588b0.10b8b8",
        "type": "debug",
        "z": "5ccdc2cc.127ffc",
        "name": "temperature/secs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 408,
        "y": 362,
        "wires": []
    },
    {
        "id": "d61993c7.2daae",
        "type": "debug",
        "z": "5ccdc2cc.127ffc",
        "name": "temperature/mins",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 420,
        "y": 641,
        "wires": []
    },
    {
        "id": "9d83ed87.d23ee",
        "type": "function",
        "z": "5ccdc2cc.127ffc",
        "name": "Format 4 Secs",
        "func": "var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];",
        "outputs": 1,
        "noerr": 0,
        "x": 423,
        "y": 413,
        "wires": [
            [
                "eb6608c5.b75588",
                "e2245d2d.87754",
                "782591e1.d73c4",
                "77a6d00e.241d8",
                "5592c879.d1f048"
            ]
        ]
    },
    {
        "id": "7e965c9c.17ee94",
        "type": "function",
        "z": "5ccdc2cc.127ffc",
        "name": "formatForMins",
        "func": "var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 692,
        "wires": [
            [
                "19944456.39199c",
                "6304df33.4e1ae",
                "fc7fc8bd.857bd8",
                "cb1c6903.d0eef8",
                "1122787d.04d158"
            ]
        ]
    },
    {
        "id": "3ec9634c.cebf8c",
        "type": "function",
        "z": "5ccdc2cc.127ffc",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 695,
        "y": 206,
        "wires": [
            [
                "1a89d961.7f7c87"
            ]
        ]
    },
    {
        "id": "8709c72.567d238",
        "type": "function",
        "z": "5ccdc2cc.127ffc",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 683,
        "y": 267,
        "wires": [
            [
                "a070aca9.70014"
            ]
        ]
    },
    {
        "id": "1a89d961.7f7c87",
        "type": "http response",
        "z": "5ccdc2cc.127ffc",
        "name": "HTTP count/temp/sec",
        "statusCode": "",
        "headers": {},
        "x": 960.5,
        "y": 196,
        "wires": []
    },
    {
        "id": "a070aca9.70014",
        "type": "http response",
        "z": "5ccdc2cc.127ffc",
        "name": "HTTP count/temp/min",
        "statusCode": "",
        "headers": {},
        "x": 957.5,
        "y": 272,
        "wires": []
    },
    {
        "id": "eb6608c5.b75588",
        "type": "ui_chart",
        "z": "5ccdc2cc.127ffc",
        "name": "Temperature Sec Chart",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Historico de Temperatura[sec]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sin datos!!!",
        "dot": false,
        "ymin": "0",
        "ymax": "35",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 715,
        "y": 407,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "782591e1.d73c4",
        "type": "ui_text",
        "z": "5ccdc2cc.127ffc",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SenseTime",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 671,
        "y": 450,
        "wires": []
    },
    {
        "id": "e2245d2d.87754",
        "type": "debug",
        "z": "5ccdc2cc.127ffc",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 672,
        "y": 353,
        "wires": []
    },
    {
        "id": "77a6d00e.241d8",
        "type": "ui_gauge",
        "z": "5ccdc2cc.127ffc",
        "name": "Instant sec Temperature",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Actual",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 732,
        "y": 508,
        "wires": []
    },
    {
        "id": "5592c879.d1f048",
        "type": "debug",
        "z": "5ccdc2cc.127ffc",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 664,
        "y": 552,
        "wires": []
    },
    {
        "id": "9c015678.e4d288",
        "type": "link in",
        "z": "5ccdc2cc.127ffc",
        "name": "",
        "links": [],
        "x": 224,
        "y": 393,
        "wires": [
            [
                "f5b588b0.10b8b8",
                "9d83ed87.d23ee"
            ]
        ]
    },
    {
        "id": "cb1c6903.d0eef8",
        "type": "ui_text",
        "z": "5ccdc2cc.127ffc",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SenseTimeMin",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 736,
        "y": 757,
        "wires": []
    },
    {
        "id": "19944456.39199c",
        "type": "debug",
        "z": "5ccdc2cc.127ffc",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "1122787d.04d158",
        "type": "ui_gauge",
        "z": "5ccdc2cc.127ffc",
        "name": "Instant min Temperature",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Promedio",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 765,
        "y": 810,
        "wires": []
    },
    {
        "id": "6304df33.4e1ae",
        "type": "debug",
        "z": "5ccdc2cc.127ffc",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 719,
        "y": 859,
        "wires": []
    },
    {
        "id": "5e3cb9e1.1bc8a8",
        "type": "link in",
        "z": "5ccdc2cc.127ffc",
        "name": "",
        "links": [],
        "x": 240,
        "y": 680,
        "wires": [
            [
                "d61993c7.2daae",
                "7e965c9c.17ee94"
            ]
        ]
    },
    {
        "id": "d462dbcd.f32338",
        "type": "mongodb in",
        "z": "5ccdc2cc.127ffc",
        "mongodb": "bd7df655.9260e8",
        "name": "Find Tpmin",
        "collection": "tpmin",
        "operation": "find",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "4923d218.1192ec"
            ]
        ]
    },
    {
        "id": "9233f879.692a28",
        "type": "mongodb in",
        "z": "5ccdc2cc.127ffc",
        "mongodb": "bd7df655.9260e8",
        "name": "Find Tpsec",
        "collection": "temperaturespec",
        "operation": "find",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "19a2afbc.87c4f"
            ]
        ]
    },
    {
        "id": "43c78939.ef6108",
        "type": "mongodb in",
        "z": "5ccdc2cc.127ffc",
        "mongodb": "bd7df655.9260e8",
        "name": "Count Tpsec",
        "collection": "temperaturespec",
        "operation": "count",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "3ec9634c.cebf8c"
            ]
        ]
    },
    {
        "id": "3bf31ef3.8396b2",
        "type": "mongodb in",
        "z": "5ccdc2cc.127ffc",
        "mongodb": "bd7df655.9260e8",
        "name": "Count Tpmin",
        "collection": "tpmin",
        "operation": "count",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "8709c72.567d238"
            ]
        ]
    },
    {
        "id": "fc7fc8bd.857bd8",
        "type": "ui_chart",
        "z": "5ccdc2cc.127ffc",
        "name": "Temperature min chart",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Historico de Temperatura[min]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sin datos!!!",
        "dot": false,
        "ymin": "0",
        "ymax": "35",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 760,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "641a20cb.a0066",
        "type": "http request",
        "z": "c3767ad4.95e768",
        "name": "GET temp/sec/find",
        "method": "GET",
        "ret": "obj",
        "url": "/temperature/sec/find",
        "tls": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "3148400b.fb8c9"
            ]
        ]
    },
    {
        "id": "fbe2a55a.5317a8",
        "type": "http request",
        "z": "c3767ad4.95e768",
        "name": "Get temp/min/find",
        "method": "GET",
        "ret": "obj",
        "url": "/temperature/min/find",
        "tls": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "c893fdf6.bbd89"
            ]
        ]
    },
    {
        "id": "3f9464d0.5462dc",
        "type": "http request",
        "z": "c3767ad4.95e768",
        "name": "GET Temp/sec/count",
        "method": "GET",
        "ret": "txt",
        "url": "/temperature/sec/count",
        "tls": "",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "c53a52d0.66535"
            ]
        ]
    },
    {
        "id": "e497cac4.0cef28",
        "type": "http request",
        "z": "c3767ad4.95e768",
        "name": "GET Temp/min/count",
        "method": "GET",
        "ret": "txt",
        "url": "/temperature/min/count",
        "tls": "",
        "x": 202,
        "y": 276,
        "wires": [
            [
                "e6843461.d20608"
            ]
        ]
    },
    {
        "id": "5c61356a.c938fc",
        "type": "function",
        "z": "c3767ad4.95e768",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 598,
        "y": 64,
        "wires": [
            [
                "111d2335.a9192d"
            ]
        ]
    },
    {
        "id": "f3d7d2f8.53569",
        "type": "function",
        "z": "c3767ad4.95e768",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 586,
        "y": 125,
        "wires": [
            [
                "11e45e0f.da18f2"
            ]
        ]
    },
    {
        "id": "111d2335.a9192d",
        "type": "http response",
        "z": "c3767ad4.95e768",
        "name": "http find/temp/sec",
        "statusCode": "",
        "headers": {},
        "x": 853.5,
        "y": 54,
        "wires": []
    },
    {
        "id": "11e45e0f.da18f2",
        "type": "http response",
        "z": "c3767ad4.95e768",
        "name": "http find/temp/min",
        "statusCode": "",
        "headers": {},
        "x": 850.5,
        "y": 130,
        "wires": []
    },
    {
        "id": "ac06ab69.956bd8",
        "type": "debug",
        "z": "c3767ad4.95e768",
        "name": "temperature/secs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 408,
        "y": 362,
        "wires": []
    },
    {
        "id": "930f3deb.bb597",
        "type": "debug",
        "z": "c3767ad4.95e768",
        "name": "temperature/mins",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 420,
        "y": 641,
        "wires": []
    },
    {
        "id": "fa559116.fdc24",
        "type": "function",
        "z": "c3767ad4.95e768",
        "name": "Format 4 Secs",
        "func": "var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];",
        "outputs": 1,
        "noerr": 0,
        "x": 423,
        "y": 413,
        "wires": [
            [
                "94a3f551.2f8cb8",
                "2b000ead.67c152",
                "2fc11566.ff32ca",
                "5aaa8041.665bf",
                "fe6b13dc.76f1c"
            ]
        ]
    },
    {
        "id": "c1c4a931.5389d8",
        "type": "function",
        "z": "c3767ad4.95e768",
        "name": "formatForMins",
        "func": "var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 692,
        "wires": [
            [
                "e47f1e9f.806de",
                "dac865b8.6a9858",
                "772ecb2.60c5234",
                "12cf5260.98abfe",
                "dc7275ef.b84de8"
            ]
        ]
    },
    {
        "id": "1a6869d.6a6f096",
        "type": "function",
        "z": "c3767ad4.95e768",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 695,
        "y": 206,
        "wires": [
            [
                "93fc96d6.3ab368"
            ]
        ]
    },
    {
        "id": "10ae88e.d515077",
        "type": "function",
        "z": "c3767ad4.95e768",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 683,
        "y": 267,
        "wires": [
            [
                "9141bc32.05ca3"
            ]
        ]
    },
    {
        "id": "93fc96d6.3ab368",
        "type": "http response",
        "z": "c3767ad4.95e768",
        "name": "HTTP count/temp/sec",
        "statusCode": "",
        "headers": {},
        "x": 960.5,
        "y": 196,
        "wires": []
    },
    {
        "id": "9141bc32.05ca3",
        "type": "http response",
        "z": "c3767ad4.95e768",
        "name": "HTTP count/temp/min",
        "statusCode": "",
        "headers": {},
        "x": 957.5,
        "y": 272,
        "wires": []
    },
    {
        "id": "94a3f551.2f8cb8",
        "type": "ui_chart",
        "z": "c3767ad4.95e768",
        "name": "Temperature Sec Chart",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Historico de Temperatura[sec]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sin datos!!!",
        "dot": false,
        "ymin": "0",
        "ymax": "35",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 715,
        "y": 407,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2fc11566.ff32ca",
        "type": "ui_text",
        "z": "c3767ad4.95e768",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SenseTime",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 671,
        "y": 450,
        "wires": []
    },
    {
        "id": "2b000ead.67c152",
        "type": "debug",
        "z": "c3767ad4.95e768",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 672,
        "y": 353,
        "wires": []
    },
    {
        "id": "5aaa8041.665bf",
        "type": "ui_gauge",
        "z": "c3767ad4.95e768",
        "name": "Instant sec Temperature",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Actual",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 732,
        "y": 508,
        "wires": []
    },
    {
        "id": "fe6b13dc.76f1c",
        "type": "debug",
        "z": "c3767ad4.95e768",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 664,
        "y": 552,
        "wires": []
    },
    {
        "id": "c1673bc1.b5ac48",
        "type": "link in",
        "z": "c3767ad4.95e768",
        "name": "",
        "links": [],
        "x": 224,
        "y": 393,
        "wires": [
            [
                "ac06ab69.956bd8",
                "fa559116.fdc24"
            ]
        ]
    },
    {
        "id": "12cf5260.98abfe",
        "type": "ui_text",
        "z": "c3767ad4.95e768",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SenseTimeMin",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 736,
        "y": 757,
        "wires": []
    },
    {
        "id": "e47f1e9f.806de",
        "type": "debug",
        "z": "c3767ad4.95e768",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "dc7275ef.b84de8",
        "type": "ui_gauge",
        "z": "c3767ad4.95e768",
        "name": "Instant min Temperature",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Promedio",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 765,
        "y": 810,
        "wires": []
    },
    {
        "id": "dac865b8.6a9858",
        "type": "debug",
        "z": "c3767ad4.95e768",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 719,
        "y": 859,
        "wires": []
    },
    {
        "id": "a20e4036.3f59e",
        "type": "link in",
        "z": "c3767ad4.95e768",
        "name": "",
        "links": [],
        "x": 240,
        "y": 680,
        "wires": [
            [
                "930f3deb.bb597",
                "c1c4a931.5389d8"
            ]
        ]
    },
    {
        "id": "c893fdf6.bbd89",
        "type": "mongodb in",
        "z": "c3767ad4.95e768",
        "mongodb": "bd7df655.9260e8",
        "name": "Find Tpmin",
        "collection": "tpmin",
        "operation": "find",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "f3d7d2f8.53569"
            ]
        ]
    },
    {
        "id": "3148400b.fb8c9",
        "type": "mongodb in",
        "z": "c3767ad4.95e768",
        "mongodb": "bd7df655.9260e8",
        "name": "Find Tpsec",
        "collection": "temperaturespec",
        "operation": "find",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "5c61356a.c938fc"
            ]
        ]
    },
    {
        "id": "c53a52d0.66535",
        "type": "mongodb in",
        "z": "c3767ad4.95e768",
        "mongodb": "bd7df655.9260e8",
        "name": "Count Tpsec",
        "collection": "temperaturespec",
        "operation": "count",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "1a6869d.6a6f096"
            ]
        ]
    },
    {
        "id": "e6843461.d20608",
        "type": "mongodb in",
        "z": "c3767ad4.95e768",
        "mongodb": "bd7df655.9260e8",
        "name": "Count Tpmin",
        "collection": "tpmin",
        "operation": "count",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "10ae88e.d515077"
            ]
        ]
    },
    {
        "id": "772ecb2.60c5234",
        "type": "ui_chart",
        "z": "c3767ad4.95e768",
        "name": "Temperature min chart",
        "group": "da3ee238.a2ab3",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Historico de Temperatura[min]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sin datos!!!",
        "dot": false,
        "ymin": "0",
        "ymax": "35",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 760,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9c1bc0ef.90d01",
        "type": "inject",
        "z": "eb742b27.be1ae8",
        "name": "Sensor time",
        "topic": "time",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "6c1e5052.01b08"
            ]
        ]
    },
    {
        "id": "6c1e5052.01b08",
        "type": "function",
        "z": "eb742b27.be1ae8",
        "name": "Timestamp",
        "func": "var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "ec807e3b.d45c6"
            ]
        ]
    },
    {
        "id": "ec807e3b.d45c6",
        "type": "function",
        "z": "eb742b27.be1ae8",
        "name": "Mezcla de los mensaje",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"time\":\n        context.data.timestamp = msg.payload;\n        msg = null;\n        break;\n    case \"infoArduino\":\n        context.data.info = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.timestamp != null && context.data.info != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"InfoAlert\";\n    context.data = null;\n\treturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 240,
        "wires": [
            [
                "f95d7d0b.43458"
            ]
        ]
    },
    {
        "id": "f95d7d0b.43458",
        "type": "json",
        "z": "eb742b27.be1ae8",
        "name": "Formato JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 940,
        "y": 240,
        "wires": [
            [
                "347ff5da.87bdea"
            ]
        ]
    },
    {
        "id": "5e5cc96e.aa82b8",
        "type": "mqtt out",
        "z": "eb742b27.be1ae8",
        "name": "Cola Propietario",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "6ec6d313.b2df1c",
        "x": 2180,
        "y": 100,
        "wires": []
    },
    {
        "id": "7f851849.ab8c18",
        "type": "function",
        "z": "eb742b27.be1ae8",
        "name": "Anlisis alarma y generacin mensaje",
        "func": "var msgg = \"\";\nvar ret = {};\nvar input = [];\n\ntemp = msg.payload;\ninput = temp.split(\":\");\n// A:idAlarma:idDispositivo:torre:apto\nif(input[0] == \"A\") {\n    switch (input[1]) \n    {\n        case \"1\":\n            msgg = \"La puerta lleva abierta un largo periodo de tiempo.\";\n            break;\n        case \"2\":\n            msgg = \"Intento de apertura sospechoso. Alguien ha ingresado la clave ms de 3 veces de forma errnea\";\n            break;\n        case \"3\":\n            msgg = \"Se detect la presencia de una persona cerca de la cerradura, en un horario no permitido.\";\n            break;\n        case \"4\":\n            msgg = \"Ingreso sospechoso. Alguien entr al inmueble en un horario no permitido.\";\n            break;\n        case \"5\":\n            msgg = \"Nivel de batera crtico. Recargue la cerradura.\";\n            break;\n        default:\n            input[1] = 0;\n            msgg = \"El error no puede ser identificado\";\n        \tbreak;\n    }\n\n    ret.topic = \"infoArduino\";\n    ret.payload = {\n        \"alertaId\":input[1],\n        \"mensajeAlerta\":msgg,\n        \"idDispositivo\":input[2],\n        \"unidadResidencial\":input[3],\n        \"torre\":input[4],\n        \"apto\":input[5]\n    };\n    return ret;\n}    ",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "ec807e3b.d45c6"
            ]
        ]
    },
    {
        "id": "347ff5da.87bdea",
        "type": "function",
        "z": "eb742b27.be1ae8",
        "name": "Asignacin de usuarios para tpicos",
        "func": "var usser = [0,0,0,0];\n// 0 -> propietario\n// 1 -> seguridad\n// 2 -> administrador\n// 3 -> yale\nif(msg.payload.info.alertaId == 0) {\n    usser[3] = 1;\n}\nif(msg.payload.info.alertaId == 1) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 2) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 3) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 4) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 5) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nmsg.payload.usser = usser;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1210,
        "y": 240,
        "wires": [
            [
                "c9ceb00b.2ba1f"
            ]
        ]
    },
    {
        "id": "c9ceb00b.2ba1f",
        "type": "function",
        "z": "eb742b27.be1ae8",
        "name": "Distribucin de alarmas para publicar",
        "func": "var ret=[undefined, undefined, undefined, undefined]\n\nfor(var i = 0;  i < 4; i++) {\n    if(msg.payload.usser[i] == 1) {\n        ret[i] = {\n            payload:msg.payload\n        };\n    }    \n}\n\nreturn ret;",
        "outputs": 4,
        "noerr": 0,
        "x": 1550,
        "y": 240,
        "wires": [
            [
                "2b41f08.baad01",
                "1aaebfa7.e139b"
            ],
            [
                "c913608.bdcb9a",
                "80f7fffe.07ee1"
            ],
            [
                "27458fb2.9b1d8",
                "e492f126.0635c"
            ],
            [
                "3e4286e.92ec87a",
                "5728ea61.3da734"
            ]
        ]
    },
    {
        "id": "2b41f08.baad01",
        "type": "debug",
        "z": "eb742b27.be1ae8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1890,
        "y": 60,
        "wires": []
    },
    {
        "id": "3e4286e.92ec87a",
        "type": "debug",
        "z": "eb742b27.be1ae8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1890,
        "y": 360,
        "wires": []
    },
    {
        "id": "27458fb2.9b1d8",
        "type": "debug",
        "z": "eb742b27.be1ae8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1890,
        "y": 260,
        "wires": []
    },
    {
        "id": "c913608.bdcb9a",
        "type": "debug",
        "z": "eb742b27.be1ae8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1890,
        "y": 160,
        "wires": []
    },
    {
        "id": "594f83d3.13d2cc",
        "type": "mqtt out",
        "z": "eb742b27.be1ae8",
        "name": "Cola Seguridad",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "6ec6d313.b2df1c",
        "x": 2180,
        "y": 200,
        "wires": []
    },
    {
        "id": "48622401.22f4fc",
        "type": "mqtt out",
        "z": "eb742b27.be1ae8",
        "name": "Cola Administrador",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "6ec6d313.b2df1c",
        "x": 2190,
        "y": 300,
        "wires": []
    },
    {
        "id": "f838fc6.9237b",
        "type": "mqtt out",
        "z": "eb742b27.be1ae8",
        "name": "Cola Yale",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "6ec6d313.b2df1c",
        "x": 2160,
        "y": 400,
        "wires": []
    },
    {
        "id": "1aaebfa7.e139b",
        "type": "function",
        "z": "eb742b27.be1ae8",
        "name": "Topic Propietario",
        "func": "var rol = \"propietario\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1910,
        "y": 100,
        "wires": [
            [
                "5e5cc96e.aa82b8",
                "dbf565cf.4397f8"
            ]
        ]
    },
    {
        "id": "90de591f.4da328",
        "type": "debug",
        "z": "eb742b27.be1ae8",
        "name": "Mensaje topic \"seguridad\"",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2210,
        "y": 160,
        "wires": []
    },
    {
        "id": "80f7fffe.07ee1",
        "type": "function",
        "z": "eb742b27.be1ae8",
        "name": "Topic Seguridad",
        "func": "var rol = \"seguridad\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1900,
        "y": 200,
        "wires": [
            [
                "90de591f.4da328",
                "594f83d3.13d2cc"
            ]
        ]
    },
    {
        "id": "a6fe3d4.4685ec",
        "type": "debug",
        "z": "eb742b27.be1ae8",
        "name": "Mensaje topic \"administrador\"",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2230,
        "y": 260,
        "wires": []
    },
    {
        "id": "e492f126.0635c",
        "type": "function",
        "z": "eb742b27.be1ae8",
        "name": "Topic Administrador",
        "func": "var rol = \"adminisnitrador\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1920,
        "y": 300,
        "wires": [
            [
                "a6fe3d4.4685ec",
                "48622401.22f4fc"
            ]
        ]
    },
    {
        "id": "e6cbf9f0.62e478",
        "type": "debug",
        "z": "eb742b27.be1ae8",
        "name": "Mensaje cola \"yale\"",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2190,
        "y": 360,
        "wires": []
    },
    {
        "id": "5728ea61.3da734",
        "type": "function",
        "z": "eb742b27.be1ae8",
        "name": "Topic Yale",
        "func": "var rol = \"yale\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1890,
        "y": 400,
        "wires": [
            [
                "e6cbf9f0.62e478",
                "f838fc6.9237b"
            ]
        ]
    },
    {
        "id": "a61bcc7.b04563",
        "type": "mqtt in",
        "z": "eb742b27.be1ae8",
        "name": "",
        "topic": "alarmasCerradura",
        "qos": "2",
        "broker": "6ec6d313.b2df1c",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "7f851849.ab8c18"
            ]
        ]
    },
    {
        "id": "dbf565cf.4397f8",
        "type": "debug",
        "z": "eb742b27.be1ae8",
        "name": "Mensaje topic \"propietario\"",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2220,
        "y": 40,
        "wires": []
    }
]