Entrega 1/Programas P/flujoModificado.txt
[{"id":"3eb4737e.8de97c","type":"inject","z":"20826719.e3c388","name":"Sensor time","topic":"time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":770,"y":300,"wires":[["feb0987f.987a08"]]},{"id":"feb0987f.987a08","type":"function","z":"20826719.e3c388","name":"Timestamp","func":"var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":1030,"y":300,"wires":[["4478ea39.94fb64","f85f26f4.070028"]]},{"id":"4478ea39.94fb64","type":"function","z":"20826719.e3c388","name":"Mescla de los mensaje","func":"context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"time\":\n        context.data.timestamp = msg.payload;\n        msg = null;\n        break;\n    case \"infoArduino\":\n        context.data.info = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.timestamp != null && context.data.info != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"InfoAlert\";\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":1260,"y":260,"wires":[["c6ab3d2e.a05bb","1a46c038.ddc92"]]},{"id":"c6ab3d2e.a05bb","type":"debug","z":"20826719.e3c388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1510,"y":300,"wires":[]},{"id":"1a46c038.ddc92","type":"json","z":"20826719.e3c388","name":"Formato JSON","property":"payload","action":"","pretty":false,"x":1520,"y":260,"wires":[["7ef5c0c.6d4024","48f6f6a2.95e348"]]},{"id":"7ef5c0c.6d4024","type":"debug","z":"20826719.e3c388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1730,"y":220,"wires":[]},{"id":"3355bb47.30d1f4","type":"mqtt out","z":"20826719.e3c388","name":"Cola Propietario","topic":"","qos":"0","retain":"true","broker":"fa827453.b79208","x":2660,"y":120,"wires":[]},{"id":"8043aa79.bcefe8","type":"function","z":"20826719.e3c388","name":"Formato informacion","func":"var mmssgg = \"\";\nvar ret = {};\nvar input = [];\n\ntemp = msg.payload;\ninput = temp.split(\":\");\n// A:idAlarma:idDispositivo:torre:apto\nif(input[0] == \"A\") {\n    switch (input[1]) \n    {\n        case \"1\":\n            mmssgg = \"La puerta quedó abierta demasiado tiempo.\";\n            break;\n        case \"2\":\n            mmssgg = \"Intento de apertura sospechoso.\";\n            break;\n        case \"3\":\n            mmssgg = \"Detección de persona sospechosa.\";\n            break;\n        case \"4\":\n            mmssgg = \"Ingreso en rango de hora no definido.\";\n            break;\n        case \"5\":\n            mmssgg = \"Nivel de batería crítico. Recargue la cerradura.\";\n            break;\n        default:\n            input[1] = 0;\n            mmssgg = \"El error no puede ser identificado\";\n        \tbreak;\n    }\n\n    ret.topic = \"infoArduino\";\n    ret.payload = {\n        \"alertaId\":input[1],\n        \"mensajeAlerta\":mmssgg,\n        \"idDispositivo\":input[2],\n        \"torre\":input[3],\n        \"apto\":input[4]\n    };\n    return ret;\n}    ","outputs":1,"noerr":0,"x":1000,"y":220,"wires":[["86bd8cee.1ac4","4478ea39.94fb64"]]},{"id":"86bd8cee.1ac4","type":"debug","z":"20826719.e3c388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":220,"wires":[]},{"id":"11e9f61e.37039a","type":"debug","z":"20826719.e3c388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":180,"wires":[]},{"id":"f85f26f4.070028","type":"debug","z":"20826719.e3c388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":300,"wires":[]},{"id":"48f6f6a2.95e348","type":"function","z":"20826719.e3c388","name":"Asignaciond de usuarios","func":"var usser = [0,0,0,0];\n// 0 -> propietario\n// 1 -> seguridad\n// 2 -> administrador\n// 3 -> yale\nif(msg.payload.info.alertaId == 0) {\n    usser[3] = 1;\n}\nif(msg.payload.info.alertaId == 1) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 2) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 3) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 4) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 5) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nmsg.payload.usser = usser;\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":260,"wires":[["8fb14103.fbad","abecad03.99207"]]},{"id":"8fb14103.fbad","type":"debug","z":"20826719.e3c388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2030,"y":320,"wires":[]},{"id":"abecad03.99207","type":"function","z":"20826719.e3c388","name":"Redistribucon para la cola","func":"var ret=[undefined, undefined, undefined, undefined]\n\nfor(var i = 0;  i < 4; i++) {\n    if(msg.payload.usser[i] == 1) {\n        ret[i] = {\n            payload:msg.payload\n        };\n    }    \n}\n\nreturn ret;","outputs":4,"noerr":0,"x":2080,"y":260,"wires":[["487d8282.70487c","a8e4189b.2ddd68"],["6f392cc5.dc5bc4","3cc60105.611ace"],["52bf56e0.69b728","56e0277d.d97e28"],["c27810ef.6f9d","80e4b2af.f917d"]]},{"id":"487d8282.70487c","type":"debug","z":"20826719.e3c388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2370,"y":80,"wires":[]},{"id":"c27810ef.6f9d","type":"debug","z":"20826719.e3c388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2370,"y":380,"wires":[]},{"id":"52bf56e0.69b728","type":"debug","z":"20826719.e3c388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2370,"y":280,"wires":[]},{"id":"6f392cc5.dc5bc4","type":"debug","z":"20826719.e3c388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2370,"y":180,"wires":[]},{"id":"960e1610.5c1a58","type":"mqtt out","z":"20826719.e3c388","name":"Cola Seguridad","topic":"","qos":"0","retain":"true","broker":"fa827453.b79208","x":2660,"y":220,"wires":[]},{"id":"9279e11.d3c542","type":"mqtt out","z":"20826719.e3c388","name":"Cola Administrador","topic":"","qos":"0","retain":"true","broker":"fa827453.b79208","x":2670,"y":320,"wires":[]},{"id":"ffef9532.31b1b8","type":"mqtt out","z":"20826719.e3c388","name":"Cola Yale","topic":"","qos":"0","retain":"true","broker":"fa827453.b79208","x":2640,"y":420,"wires":[]},{"id":"a8e4189b.2ddd68","type":"function","z":"20826719.e3c388","name":"Topic Propietario","func":"var rol = \"propietario\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;","outputs":1,"noerr":0,"x":2390,"y":120,"wires":[["3355bb47.30d1f4","bff18e89.28e5f"]]},{"id":"bff18e89.28e5f","type":"debug","z":"20826719.e3c388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2650,"y":80,"wires":[]},{"id":"4e0f36df.061328","type":"debug","z":"20826719.e3c388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2650,"y":180,"wires":[]},{"id":"3cc60105.611ace","type":"function","z":"20826719.e3c388","name":"Topic Seguridad","func":"var rol = \"seguridad\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;","outputs":1,"noerr":0,"x":2380,"y":220,"wires":[["4e0f36df.061328","960e1610.5c1a58"]]},{"id":"b1e9dd72.d93ff","type":"debug","z":"20826719.e3c388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2650,"y":280,"wires":[]},{"id":"56e0277d.d97e28","type":"function","z":"20826719.e3c388","name":"Topic Administrador","func":"var rol = \"adminisnitrador\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;","outputs":1,"noerr":0,"x":2400,"y":320,"wires":[["b1e9dd72.d93ff","9279e11.d3c542"]]},{"id":"fd179090.49ec3","type":"debug","z":"20826719.e3c388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2650,"y":380,"wires":[]},{"id":"80e4b2af.f917d","type":"function","z":"20826719.e3c388","name":"Topic Yale","func":"var rol = \"yale\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;","outputs":1,"noerr":0,"x":2370,"y":420,"wires":[["fd179090.49ec3","ffef9532.31b1b8"]]},{"id":"af03be26.be347","type":"random","z":"20826719.e3c388","name":"Arduino","low":"1","high":"5","inte":"true","property":"payload","x":520,"y":140,"wires":[["2221a915.b58a76"]]},{"id":"5f9322be.a2b14c","type":"inject","z":"20826719.e3c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":140,"wires":[["af03be26.be347"]]},{"id":"2221a915.b58a76","type":"function","z":"20826719.e3c388","name":"Formato Arduino","func":"context.data = context.data || {};\ncontext.data.info = context.data.info || [];\ncontext.data.i = context.data.i || 0;\n\nif(context.data.info.length == 4) {\n    var info = context.data.info;\n    context.data.info = [];\n    context.data.i = 0;\n    var msgRet = {\n      topic:\"IformacionArduino\",\n      payload:\"A\"+\":\"+info[0]+\":\"+info[1]+\":\"+info[2]+\":\"+info[3]\n    };\n    return msgRet;\n} else {\n    context.data.info[context.data.i++] = msg.payload;\n}\n\n\n","outputs":1,"noerr":0,"x":750,"y":220,"wires":[["8043aa79.bcefe8","11e9f61e.37039a"]]},{"id":"ccff9245.2eaca","type":"random","z":"20826719.e3c388","name":"Arduino","low":"1","high":"5","inte":"true","property":"payload","x":520,"y":200,"wires":[["2221a915.b58a76"]]},{"id":"8cc3b7a7.45f198","type":"inject","z":"20826719.e3c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":200,"wires":[["ccff9245.2eaca"]]},{"id":"35cd976.28fd168","type":"random","z":"20826719.e3c388","name":"Arduino","low":"1","high":"5","inte":"true","property":"payload","x":520,"y":260,"wires":[["2221a915.b58a76"]]},{"id":"14a1aac6.165e75","type":"inject","z":"20826719.e3c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":260,"wires":[["35cd976.28fd168"]]},{"id":"a82e7cac.d21b8","type":"random","z":"20826719.e3c388","name":"Arduino","low":"1","high":"5","inte":"true","property":"payload","x":520,"y":320,"wires":[["2221a915.b58a76"]]},{"id":"3b4fda54.4f4216","type":"inject","z":"20826719.e3c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":320,"wires":[["a82e7cac.d21b8"]]},{"id":"2e371301.a1c29c","type":"serial in","z":"20826719.e3c388","name":"Arduino","serial":"c26e8af8.c647d8","x":510,"y":380,"wires":[[]]},{"id":"fa827453.b79208","type":"mqtt-broker","z":"","name":"","broker":"172.24.42.23","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c26e8af8.c647d8","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]