ELAY_NodeRed/ELAY_Flujo.json
[{"id":"54a31c95.4a2124","type":"function","z":"24fc6934.2afee6","name":"Mezcla de los mensaje","func":"context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"time\":\n        context.data.timestamp = msg.payload;\n        msg = null;\n        break;\n    case \"infoArduino\":\n        context.data.info = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.timestamp != null && context.data.info != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"InfoAlert\";\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["2e168b3d.f04bc4"]]},{"id":"2e168b3d.f04bc4","type":"json","z":"24fc6934.2afee6","name":"Formato JSON","property":"payload","action":"","pretty":false,"x":940,"y":240,"wires":[["890ebc06.bc44"]]},{"id":"890ebc06.bc44","type":"function","z":"24fc6934.2afee6","name":"Asignación de usuarios para tópicos","func":"var usser = [0,0,0,0];\n// 0 -> propietario\n// 1 -> seguridad\n// 2 -> administrador\n// 3 -> yale\nif(msg.payload.info.alertaId == 0) {\n    usser[3] = 1;\n}\nif(msg.payload.info.alertaId == 1) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 2) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 3) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 4) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 5) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nmsg.payload.usser = usser;\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":240,"wires":[["8ee5b704.c8ef38"]]},{"id":"8ee5b704.c8ef38","type":"function","z":"24fc6934.2afee6","name":"Distribución de alarmas para publicar","func":"var ret=[undefined, undefined, undefined, undefined]\n\nfor(var i = 0;  i < 4; i++) {\n    if(msg.payload.usser[i] == 1) {\n        ret[i] = {\n            payload:msg.payload\n        };\n    }    \n}\n\nreturn ret;","outputs":4,"noerr":0,"x":1550,"y":240,"wires":[["e850c12e.a7a2c","67c68a6b.5ddd04"],["8ba8d49.ffb3028","57b7e1f0.7e17d"],["54d1130b.3960ec","eb65f1ed.7003"],["94712178.8b5bc","9810320b.4c612"]]},{"id":"e850c12e.a7a2c","type":"debug","z":"24fc6934.2afee6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1890,"y":60,"wires":[]},{"id":"94712178.8b5bc","type":"debug","z":"24fc6934.2afee6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1890,"y":360,"wires":[]},{"id":"54d1130b.3960ec","type":"debug","z":"24fc6934.2afee6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1890,"y":260,"wires":[]},{"id":"8ba8d49.ffb3028","type":"debug","z":"24fc6934.2afee6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1890,"y":160,"wires":[]},{"id":"67c68a6b.5ddd04","type":"function","z":"24fc6934.2afee6","name":"Topic Propietario","func":"var rol = \"propietario\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.unidadResidencial+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":100,"wires":[["9e29681a.19a9b8","2e5f7960.9af276"]]},{"id":"57b7e1f0.7e17d","type":"function","z":"24fc6934.2afee6","name":"Topic Seguridad","func":"var rol = \"seguridad\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.unidadResidencial+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;","outputs":1,"noerr":0,"x":1900,"y":200,"wires":[["930b7569.4dc688","7a6bebce.b80b14"]]},{"id":"eb65f1ed.7003","type":"function","z":"24fc6934.2afee6","name":"Topic Administrador","func":"var rol = \"adminisnitrador\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.unidadResidencial+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":300,"wires":[["47197acc.6920a4","7c208b9f.07d9f4"]]},{"id":"9810320b.4c612","type":"function","z":"24fc6934.2afee6","name":"Topic Yale","func":"var rol = \"yale\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.unidadResidencial+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":400,"wires":[["44d0001b.ea0a","71b2ef1c.143d7"]]},{"id":"9e29681a.19a9b8","type":"mqtt out","z":"24fc6934.2afee6","name":"Cola Propietario","topic":"","qos":"0","retain":"true","broker":"dca05633.2606f8","x":2180,"y":100,"wires":[]},{"id":"930b7569.4dc688","type":"mqtt out","z":"24fc6934.2afee6","name":"Cola Seguridad","topic":"","qos":"0","retain":"true","broker":"dca05633.2606f8","x":2180,"y":200,"wires":[]},{"id":"47197acc.6920a4","type":"mqtt out","z":"24fc6934.2afee6","name":"Cola Administrador","topic":"","qos":"0","retain":"true","broker":"dca05633.2606f8","x":2190,"y":300,"wires":[]},{"id":"44d0001b.ea0a","type":"mqtt out","z":"24fc6934.2afee6","name":"Cola Yale","topic":"","qos":"0","retain":"true","broker":"dca05633.2606f8","x":2160,"y":400,"wires":[]},{"id":"2e5f7960.9af276","type":"debug","z":"24fc6934.2afee6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2170,"y":60,"wires":[]},{"id":"7a6bebce.b80b14","type":"debug","z":"24fc6934.2afee6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2170,"y":160,"wires":[]},{"id":"7c208b9f.07d9f4","type":"debug","z":"24fc6934.2afee6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2170,"y":260,"wires":[]},{"id":"71b2ef1c.143d7","type":"debug","z":"24fc6934.2afee6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2170,"y":360,"wires":[]},{"id":"a13dfa68.a3cf38","type":"inject","z":"24fc6934.2afee6","name":"Sensor time","topic":"time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":130,"y":280,"wires":[["c21620f8.c24ae"]]},{"id":"3752816f.5ac90e","type":"mqtt in","z":"24fc6934.2afee6","name":"","topic":"alarmasCerradura","qos":"2","broker":"dca05633.2606f8","x":110,"y":200,"wires":[["9b0ab05e.7d479"]]},{"id":"9b0ab05e.7d479","type":"function","z":"24fc6934.2afee6","name":"Análisis alarma y generación mensaje","func":"var msgg = \"\";\nvar ret = {};\nvar input = [];\n\ntemp = msg.payload;\ninput = temp.split(\":\");\n// A:idAlarma:idDispositivo:torre:apto\nif(input[0] == \"A\") {\n    switch (input[1]) \n    {\n        case \"1\":\n            msgg = \"La puerta lleva abierta un largo periodo de tiempo.\";\n            break;\n        case \"2\":\n            msgg = \"Intento de apertura sospechoso. Alguien ha ingresado la clave más de 3 veces de forma errónea\";\n            break;\n        case \"3\":\n            msgg = \"Se detectó la presencia de una persona cerca de la cerradura, en un horario no permitido.\";\n            break;\n        case \"4\":\n            msgg = \"Ingreso sospechoso. Alguien entró al inmueble en un horario no permitido.\";\n            break;\n        case \"5\":\n            msgg = \"Nivel de batería crítico. Recargue la cerradura.\";\n            break;\n        default:\n            input[1] = 0;\n            msgg = \"El error no puede ser identificado\";\n        \tbreak;\n    }\n\n    ret.topic = \"infoArduino\";\n    ret.payload = {\n        \"alertaId\":input[1],\n        \"mensajeAlerta\":msgg,\n        \"idDispositivo\":input[2],\n        \"unidadResidencial\":input[3],\n        \"torre\":input[4],\n        \"apto\":input[5]\n    };\n    return ret;\n}    ","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["54a31c95.4a2124"]]},{"id":"c21620f8.c24ae","type":"function","z":"24fc6934.2afee6","name":"Timestamp","func":"var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["54a31c95.4a2124"]]},{"id":"dca05633.2606f8","type":"mqtt-broker","z":"","name":"","broker":"192.168.56.1","port":"8083","clientid":"Eldegabriel","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]