ELAY_NODERED/TestProtocolos.json
[{"id":"f1c9c45d.1127d8","type":"function","z":"90aad8c3.2ba3e8","name":"Distribución de alarmas para publicar","func":"var ret=[undefined, undefined, undefined, undefined]\n\nfor(var i = 0;  i < 4; i++) {\n    if(msg.payload.usser[i] == 1) {\n        ret[i] = {\n            payload:msg.payload\n        };\n    }    \n}\n\nreturn ret;","outputs":4,"noerr":0,"x":1530,"y":300,"wires":[["bbe04d3e.694e9","94ee9484.0e8ac8"],["c0b46f62.f1e6e","e5798d9a.ea083"],["6b841461.1da6fc","bfaea29e.c3655"],["16678b69.bf5895","d9fa2bfe.009cb8"]]},{"id":"bbe04d3e.694e9","type":"debug","z":"90aad8c3.2ba3e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1870,"y":120,"wires":[]},{"id":"16678b69.bf5895","type":"debug","z":"90aad8c3.2ba3e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1870,"y":420,"wires":[]},{"id":"6b841461.1da6fc","type":"debug","z":"90aad8c3.2ba3e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1870,"y":320,"wires":[]},{"id":"c0b46f62.f1e6e","type":"debug","z":"90aad8c3.2ba3e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1870,"y":220,"wires":[]},{"id":"94ee9484.0e8ac8","type":"function","z":"90aad8c3.2ba3e8","name":"Topic Propietario","func":"var rol = \"propietario\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.unidadResidencial+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":160,"wires":[["edafc6e7.bf5b98","5c0d431a.9e5c2c"]]},{"id":"e5798d9a.ea083","type":"function","z":"90aad8c3.2ba3e8","name":"Topic Seguridad","func":"var rol = \"seguridad\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.unidadResidencial+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;","outputs":1,"noerr":0,"x":1880,"y":260,"wires":[["bf8f6eec.277d1","613fccc0.0f7744"]]},{"id":"bfaea29e.c3655","type":"function","z":"90aad8c3.2ba3e8","name":"Topic Administrador","func":"var rol = \"adminisnitrador\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.unidadResidencial+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;","outputs":1,"noerr":0,"x":1900,"y":360,"wires":[["63638fde.fba8d","db3e66ad.dc45a8"]]},{"id":"d9fa2bfe.009cb8","type":"function","z":"90aad8c3.2ba3e8","name":"Topic Yale","func":"var rol = \"yale\";\nvar input = msg.payload.info;\nmsg.topic = rol+\"/\"+input.unidadResidencial+\"/\"+input.torre+\"/\"+input.apto+\"/\"+input.alertaId;\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":460,"wires":[["2c514eec.c00842","f0d19b0a.b0afb8"]]},{"id":"edafc6e7.bf5b98","type":"mqtt out","z":"90aad8c3.2ba3e8","name":"Cola Propietario","topic":"","qos":"0","retain":"true","broker":"18407c93.ee8543","x":2160,"y":160,"wires":[]},{"id":"bf8f6eec.277d1","type":"mqtt out","z":"90aad8c3.2ba3e8","name":"Cola Seguridad","topic":"","qos":"0","retain":"true","broker":"18407c93.ee8543","x":2160,"y":260,"wires":[]},{"id":"63638fde.fba8d","type":"mqtt out","z":"90aad8c3.2ba3e8","name":"Cola Administrador","topic":"","qos":"0","retain":"true","broker":"18407c93.ee8543","x":2170,"y":360,"wires":[]},{"id":"2c514eec.c00842","type":"mqtt out","z":"90aad8c3.2ba3e8","name":"Cola Yale","topic":"","qos":"0","retain":"true","broker":"18407c93.ee8543","x":2140,"y":460,"wires":[]},{"id":"5c0d431a.9e5c2c","type":"debug","z":"90aad8c3.2ba3e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2150,"y":120,"wires":[]},{"id":"613fccc0.0f7744","type":"debug","z":"90aad8c3.2ba3e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2150,"y":220,"wires":[]},{"id":"db3e66ad.dc45a8","type":"debug","z":"90aad8c3.2ba3e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2150,"y":320,"wires":[]},{"id":"f0d19b0a.b0afb8","type":"debug","z":"90aad8c3.2ba3e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2150,"y":420,"wires":[]},{"id":"900c2a2c.b4db48","type":"function","z":"90aad8c3.2ba3e8","name":"Asignación de usuarios para tópicos","func":"var usser = [0,0,0,0];\n// 0 -> propietario\n// 1 -> seguridad\n// 2 -> administrador\n// 3 -> yale\nif(msg.payload.info.alertaId == 0) {\n    usser[3] = 1;\n}\nif(msg.payload.info.alertaId == 1) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 2) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 3) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 4) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 5) {\n    usser[0] = 1;\n    usser[1] = 1;\n}\nif(msg.payload.info.alertaId == 6) {\n    usser[0] = 1;\n    usser[1] = 1;\n    usser[2] = 1;\n    usser[3] = 1;\n}\nif(msg.payload.info.alertaId == 7) {\n    usser[0] = 1;\n    usser[1] = 1;\n    usser[2] = 1;\n    usser[3] = 1;\n}\nmsg.payload.usser = usser;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":300,"wires":[["f1c9c45d.1127d8"]]},{"id":"d5edf227.477c1","type":"json","z":"90aad8c3.2ba3e8","name":"Formato JSON","property":"payload","action":"","pretty":false,"x":920,"y":300,"wires":[["900c2a2c.b4db48"]]},{"id":"d021127a.e4aee","type":"function","z":"90aad8c3.2ba3e8","name":"Mezcla de los mensaje","func":"context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"time\":\n        context.data.timestamp = msg.payload;\n        msg = null;\n        break;\n    case \"infoArduino\":\n        context.data.info = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.timestamp != null && context.data.info != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"InfoAlert\";\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["d5edf227.477c1"]]},{"id":"f4dd64b7.0dc7b8","type":"function","z":"90aad8c3.2ba3e8","name":"Timestamp","func":"var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["d021127a.e4aee"]]},{"id":"90bb8d7a.a63c7","type":"function","z":"90aad8c3.2ba3e8","name":"Análisis alarma y generación mensaje","func":"var msgg = \"\";\nvar ret = {};\nvar input = [];\n\ntemp = msg.payload;\ninput = temp.split(\":\");\n// A:idAlarma:idDispositivo:unidadResidencial:torre:apto\nif(input[0] == \"A\") {\n    switch (input[1]) \n    {\n        case \"1\":\n            msgg = \"La puerta lleva abierta un largo periodo de tiempo.\";\n            break;\n        case \"2\":\n            msgg = \"Intento de apertura sospechoso. Alguien ha ingresado la clave más de 3 veces de forma errónea\";\n            break;\n        case \"3\":\n            msgg = \"Se detectó la presencia de una persona cerca de la cerradura, en un horario no permitido.\";\n            break;\n        case \"4\":\n            msgg = \"Ingreso sospechoso. Alguien entró al inmueble en un horario no permitido.\";\n            break;\n        case \"5\":\n            msgg = \"Nivel de batería crítico. Recargue la cerradura.\";\n            break;\n        case \"7\": \n            msgg = \"La cerradura está fuera de linea\";\n            break;\n        case \"8\": \n            msgg = \"El hub está fuera de linea\";\n            break;\n        default:\n            input[1] = 0;\n            msgg = \"El error no puede ser identificado\";\n        \tbreak;\n    }\n\n    ret.topic = \"infoArduino\";\n    ret.payload = {\n        \"alertaId\":input[1],\n        \"mensajeAlerta\":msgg,\n        \"idDispositivo\":input[2],\n        \"unidadResidencial\":input[3],\n        \"torre\":input[4],\n        \"apto\":input[5]\n    };\n    return ret;\n}    ","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["d021127a.e4aee"]]},{"id":"7c4ae54f.07575c","type":"debug","z":"90aad8c3.2ba3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":220,"wires":[]},{"id":"596490b4.459ba","type":"inject","z":"90aad8c3.2ba3e8","name":"Sensor time","topic":"time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":110,"y":340,"wires":[["f4dd64b7.0dc7b8"]]},{"id":"23429035.ee881","type":"mqtt in","z":"90aad8c3.2ba3e8","name":"","topic":"alarmasCerradura","qos":"2","broker":"18407c93.ee8543","x":90,"y":260,"wires":[["90bb8d7a.a63c7","7c4ae54f.07575c"]]},{"id":"18407c93.ee8543","type":"mqtt-broker","z":"","name":"","broker":"172.24.42.23","port":"8083","clientid":"Experimeto","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]