Experimento 1/ELAY_FLOW.json
[
    {
        "id": "132d9507.a47a6b",
        "type": "tab",
        "label": "ELAY_EXP1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9549c59b.2d98b",
        "type": "inject",
        "z": "132d9507.a47a6b",
        "name": "Sensor time",
        "topic": "time",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "a832c507.1914a8"
            ]
        ]
    },
    {
        "id": "a832c507.1914a8",
        "type": "function",
        "z": "132d9507.a47a6b",
        "name": "Timestamp",
        "func": "var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "e146f9ef.453ed",
                "7a6a7188.06ede"
            ]
        ]
    },
    {
        "id": "e146f9ef.453ed",
        "type": "function",
        "z": "132d9507.a47a6b",
        "name": "Mezcla de los mensajes",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"time\":\n        context.data.timestamp = msg.payload;\n        msg = null;\n        break;\n    case \"infoArduino\":\n        context.data.info = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.timestamp != null && context.data.info != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"InfoAlert\";\n    context.data = null;\n\treturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 200,
        "wires": [
            [
                "ad2ce181.f6e2d",
                "7441c71b.aa35f"
            ]
        ]
    },
    {
        "id": "ad2ce181.f6e2d",
        "type": "debug",
        "z": "132d9507.a47a6b",
        "name": "Mensaje mezclado",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1050,
        "y": 260,
        "wires": []
    },
    {
        "id": "7441c71b.aa35f",
        "type": "json",
        "z": "132d9507.a47a6b",
        "name": "Formato JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1040,
        "y": 200,
        "wires": [
            [
                "50848b4.b220a74",
                "c336732f.a4eca8"
            ]
        ]
    },
    {
        "id": "50848b4.b220a74",
        "type": "debug",
        "z": "132d9507.a47a6b",
        "name": "Formateo del mensaje a JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1310,
        "y": 140,
        "wires": []
    },
    {
        "id": "dced6538.cd5de",
        "type": "mqtt out",
        "z": "132d9507.a47a6b",
        "name": "Cola Propietario",
        "topic": "propietario/1/1",
        "qos": "0",
        "retain": "true",
        "broker": "4a9e2097.8339d8",
        "x": 2000,
        "y": 60,
        "wires": []
    },
    {
        "id": "35ea56f4.b2acd2",
        "type": "function",
        "z": "132d9507.a47a6b",
        "name": "Análisis de alertas",
        "func": "var mensaje = \"\";\nvar ret = {};\nvar input = [];\n\ntemp = msg.payload;\ninput = temp.split(\":\");\n// A:idAlarma:idDispositivo:torre:apto\nif(input[0] == \"A\") {\n    switch (input[1]) \n    {\n        case \"1\":\n            mensaje = \"La puerta lleva abierta un largo periodo de tiempo.\";\n            break;\n        case \"2\":\n            mensaje = \"Intento de apertura sospechoso. Alguien ha ingresado la clave más de 3 veces de forma errónea\";\n            break;\n        case \"3\":\n            mensaje = \"Se detectó la presencia de una persona cerca de la cerradura, en un horario no permitido\";\n            break;\n        case \"4\":\n            mensaje = \"Ingreso sospechoso. Alguien entró al inmueble en un horario no permitido\";\n            break;\n        default:\n        \n            mensaje = \"El error no puede ser identificado\";\n        \tbreak;\n    }\n\n    ret.topic = \"infoArduino\";\n    ret.payload = {\n        \"alertaId\":input[1],\n        \"mensajeAlerta\":mensaje,\n        \"idDispositivo\":input[2],\n        \"torre\":input[3],\n        \"apto\":input[4]\n    };\n    return ret;\n}    ",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "39728184.78976e",
                "e146f9ef.453ed"
            ]
        ]
    },
    {
        "id": "39728184.78976e",
        "type": "debug",
        "z": "132d9507.a47a6b",
        "name": "Mensaje de alerta",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "77adf278.f475ac",
        "type": "debug",
        "z": "132d9507.a47a6b",
        "name": "Mensaje recibido por el Arduino",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "7a6a7188.06ede",
        "type": "debug",
        "z": "132d9507.a47a6b",
        "name": "Fecha calculada",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "c336732f.a4eca8",
        "type": "function",
        "z": "132d9507.a47a6b",
        "name": "Asignación de usuarios",
        "func": "var user = [0,0,0,0];\n// 0 -> propietario\n// 1 -> seguridad\n// 2 -> administrador\n// 3 -> yale\nif(msg.payload.info.alertaId == 1) {\n    user[0] = 1;\n    user[1] = 1;\n}\nif(msg.payload.info.alertaId == 2) {\n    user[0] = 1;\n    user[1] = 1;\n}\nif(msg.payload.info.alertaId == 3) {\n    user[0] = 1;\n    user[1] = 1;\n}\nmsg.payload.user = user;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1290,
        "y": 200,
        "wires": [
            [
                "98a3be7.261054",
                "cc2ce462.1f0a5"
            ]
        ]
    },
    {
        "id": "98a3be7.261054",
        "type": "debug",
        "z": "132d9507.a47a6b",
        "name": "Mensaje después de tener a los usuarios",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1620,
        "y": 320,
        "wires": []
    },
    {
        "id": "cc2ce462.1f0a5",
        "type": "function",
        "z": "132d9507.a47a6b",
        "name": "Redistribucon para la cola",
        "func": "var ret=[undefined, undefined, undefined, undefined]\n\nfor(var i = 0;  i < 4; i++) {\n    if(msg.payload.user[i] == 1) {\n        ret[i] = {payload:msg.payload};\n    }    \n}\n\nreturn ret;",
        "outputs": 4,
        "noerr": 0,
        "x": 1570,
        "y": 200,
        "wires": [
            [
                "6de09a5f.3f20bc",
                "dced6538.cd5de"
            ],
            [
                "6880376b.467a38",
                "5c925e5.2e92ca"
            ],
            [
                "52e37c9c.405054",
                "f4eeae5a.a1501"
            ],
            [
                "d17ab62d.58f73",
                "ebdbc4c1.2b67c8"
            ]
        ]
    },
    {
        "id": "6de09a5f.3f20bc",
        "type": "debug",
        "z": "132d9507.a47a6b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1990,
        "y": 20,
        "wires": []
    },
    {
        "id": "d17ab62d.58f73",
        "type": "debug",
        "z": "132d9507.a47a6b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1990,
        "y": 320,
        "wires": []
    },
    {
        "id": "52e37c9c.405054",
        "type": "debug",
        "z": "132d9507.a47a6b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1990,
        "y": 220,
        "wires": []
    },
    {
        "id": "6880376b.467a38",
        "type": "debug",
        "z": "132d9507.a47a6b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1990,
        "y": 120,
        "wires": []
    },
    {
        "id": "5c925e5.2e92ca",
        "type": "mqtt out",
        "z": "132d9507.a47a6b",
        "name": "Cola Seguridad",
        "topic": "seguridad/1/1",
        "qos": "0",
        "retain": "true",
        "broker": "4a9e2097.8339d8",
        "x": 2000,
        "y": 160,
        "wires": []
    },
    {
        "id": "f4eeae5a.a1501",
        "type": "mqtt out",
        "z": "132d9507.a47a6b",
        "name": "Cola Administrador",
        "topic": "administrador/1/1",
        "qos": "0",
        "retain": "true",
        "broker": "4a9e2097.8339d8",
        "x": 2010,
        "y": 260,
        "wires": []
    },
    {
        "id": "ebdbc4c1.2b67c8",
        "type": "mqtt out",
        "z": "132d9507.a47a6b",
        "name": "Cola Yale",
        "topic": "yale/1/1",
        "qos": "0",
        "retain": "true",
        "broker": "4a9e2097.8339d8",
        "x": 1980,
        "y": 360,
        "wires": []
    },
    {
        "id": "44319609.76e54",
        "type": "serial in",
        "z": "132d9507.a47a6b",
        "name": "Arduino",
        "serial": "f3e4b69e.3c404",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "35ea56f4.b2acd2",
                "77adf278.f475ac"
            ]
        ]
    },
    {
        "id": "4a9e2097.8339d8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.23",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "f3e4b69e.3c404",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    }
]